<!-- Header Background -->
<div class="blog-header-background">
		<div class="blog-title-holder">
			<div class="blog-title">
				<%= link_to blog_path do %><h2>The Ratafire Blog</h2><% end %>
				<span>Create what you love</span>	
			</div>	
		</div>
</div>
