<div style="margin-top: 59px;">

<!-- Project Sidebar -->
<div class="sidebar" type="project">
	<div style="margin-top: -27px;"></div>
	<ol>Goals</ol>
	<ol class="sidebar-project-about sidebar-project-active">Work Collection</ol>
	<ol>Payment Settings</ol>
	<ol>Social Presence</ol>
</div>	