<div style="margin-top: 59px;">

<!-- Project Sidebar -->
<div class="sidebar" type="project">
	<div style="margin-top: -27px;"></div>
	<ol>Goals</ol>
	<ol>Work Collection</ol>
	<ol class="sidebar-project-about sidebar-project-active">Payment Settings</ol>
</div>	