<div style="margin-top: 59px;">

<!-- Project Sidebar -->
<div class="sidebar" type="project">
	<div style="margin-top: -27px;"></div>
	<ol>To Subscribers</ol>
	<ol class="sidebar-project-about sidebar-project-active">Goals</ol>
	<ol>Project</ol>
	<ol>Discussion</ol>
	<ol>Payments</ol>
	<ol>Identification</ol>
	<ol>Apply</ol>
</div>	