<!-- Initialize Slide -->
<script>
	$(document).ready(function(){
		var owl = $('.owl-carousel');
		owl.owlCarousel({
		    items:1,
		    loop:true,
		    margin:10,
		    autoplay:true,
		    lazyLoad: true,
		    autoplayTimeout:6000,
		    autoWidth:true,
		    autoHeight:true,
		    autoplayHoverPause:true
		});
	});
</script>
<!-- Set up your HTML -->
<div class="owl-carousel" style="width:641px;margin-left:340px;position:absolute;background-color:#ccc;">
  	<div style="width:641px;">
  		<div class="slide-inner" style="background-image:url(/assets/slidebg/imaginative_realism.jpg);">
  			<div class="slide-inner-holder">
  				<ul>We believe a little bit more of long term thinking can change the world.</ul>
  			</div>	
  		</div>	
  	</div>
  	<div style="width:641px;">
  		<div class="slide-inner" style="background-image:url(/assets/slidebg/sandro_piano.jpg);">
  			<div class="slide-inner-holder">
  				<ul>We are making crowdfunding free and social.</ul>
  			</div>	
  		</div>	
  	</div>
  	<div style="width:641px;">
  		<div class="slide-inner" style="background-image:url(/assets/slidebg/i_love_ratafire.jpg);">
  			<div class="slide-inner-holder">
  				<ul>Sync with Facebook Pages, connect to PayPal, and more...</ul>
  			</div>	
  		</div>	
  	</div>  	
</div>
