<!--~~~~~~~~~~~~~~~~~~~~~~~~ Javascript ~~~~~~~~~~~~~~~~~~~~~~~~-->
<script type="text/javascript">
$(document).ready(function() {
	$('#watch-intro').click(function(){
		$("#Home-page-video-holder").show();
		callPlayer("Home-page-video-youtube","playVideo");
		ga('send', 'event', 'video', 'click', 'View_Intro_Video');
	});

	$('.home-page-video-overlay').click(function(){
		$("#Home-page-video-holder").hide();
		callPlayer("Home-page-video-youtube","pauseVideo")
	});

	$('#watch-intro').hover(function(){
		$("#Home-page-video-title").css("color","#999")},function(){
    $("#Home-page-video-title").css("color","#666");
	});	

});	
</script>

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Video ~~~~~~~~~~~~~~~~~~~~~~~~-->

<div id="Home-page-video-holder">
	<!-- Overlay -->
	<div class="home-page-video-overlay"></div>
	<!-- Video-->
	<div id="Home-page-video-youtube">
		<iframe id="youtube-video" width="854" height="480" src="https://www.youtube.com/embed/4GMOwlDCspM?enablejsapi=1" frameborder="0" style="margin-top:50px;"></iframe>
	</div>

</div>	