<!--~~~~~~~~~~~~~~~~~~~~~~~~ Javascript ~~~~~~~~~~~~~~~~~~~~~~~~-->
<script type="text/javascript">
$(document).ready(function() {
	$('#Home-page-video-click').click(function(){
		$("#Home-page-video-holder").show();
		callPlayer("Home-page-video-youtube","playVideo")
	});

	$('.message-overlay').click(function(){
		$("#Home-page-video-holder").hide();
		callPlayer("Home-page-video-youtube","pauseVideo")
	});

	$('#Home-page-video-click').hover(function(){
		$("#watch-intro").css("color","#999")},function(){
    $("#watch-intro").css("color","#666");
	});	

});	
</script>

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Video ~~~~~~~~~~~~~~~~~~~~~~~~-->

<div id="Home-page-video-holder">
	<!-- Overlay -->
	<div class="message-overlay"></div>
	<!-- Video-->
	<div id="Home-page-video-youtube">
		<iframe id="youtube-video" width="854" height="480" src="http://www.youtube.com/embed/4GMOwlDCspM?enablejsapi=1" frameborder="0" style="margin-top:-20px;"></iframe>
	</div>

</div>	