<!--~~~~~~~~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!-- Page Title -->
	<% provide(:title, "About") %>
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Facebook Open Graph ~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Font ~~~~~~~~~~~~~~~~~~~~~~~~-->	
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Second Header for Helps ~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Page Contents ~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="static-content">
	<h1>About</h1>

<h2>Why we created Ratafire?</h2>

	<p style="padding-left: 30px;">We help artists and researchers afford the time for creative freedom.</p>

	<p style="padding-left: 30px;">Let us break it down:</p>

		<p style="padding-left: 60px;"><i>Help artists and researchers</i>: we serve artists and researchers and their fans.</p>

		<p style="padding-left: 60px;"><i>Afford the time</i>: many art creation processes and researches can now be conducted on computers instead of on capital centric studios and labs, therefore, we want to make it easy for artists and researchers to have time to work on these artists creations and researches.</p>

		<p style="padding-left: 60px;"><i>Creative freedom</i>: we enable funding for the creative process instead of the outcome, which enhances creative freedom.</p>

<h2>Why we’re different than existing solutions?</h2>

	<p style="padding-left: 30px;">We are making crowdfunding free and social.</p>

	<p style="padding-left: 30px;">We are making crowdfunding friendly to individual artists and researchers again. We are not optimized towards startups crowdfunding.</p>

	<p style="padding-left: 30px;"><i>How we are different from Kickstarter</i>: on-going fund-raising, free to use, social.</p>

	<p style="padding-left: 30px;"><i>How we are different from Patreon</i>: free to use, Facebook fan page enabled, not focus on YouTube.</p>

<h2>The problems we are solving</h2>

	<p style="padding-left: 30px;">Artists and researchers need time to focus on the projects they are doing.</p>

	<p style="padding-left: 30px;">There has to be a way to support online content.</p>

	<p style="padding-left: 30px;">Crowdfunding is becoming focus on startups instead of individual creators.</p>

	<p style="padding-left: 30px;">The current academic funding system is not efficient.</p>

<h2>What is Ratafire?</h2>

	<p style="padding-left: 30px;">Ratafire is a free to use on-going fundraising site.</p>

<h2>How to use Ratafire if you are a creator</h2>

	<p style="padding-left: 30px;">A fundraising video is required.</p>

	<p style="padding-left: 30px;">Have at least one work collection or a synced Facebook fan page.</p>

	<p style="padding-left: 30px;">Update your work collection or Facebook fan page at least once in a month.</p>

<h2>Interesting Blog Post</h2>

		<ul style="padding-left: 30px;"><%= link_to "The End of the Starving Artist", "https://medium.com/ratafire-insights/the-end-of-the-starving-artist-9207b541d051#1c52", class:"no_ajaxify"%></ul>
</div>
<%= render 'layouts/footer' %>	