<!--~~~~~~~~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<!-- Page Title -->
	<% provide(:title, "Terms of Use") %>


<!--~~~~~~~~~~~~~~~~~~~~~~~~ Sidebar ~~~~~~~~~~~~~~~~~~~~~~~~-->	

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Page Contents ~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="static-content">
<h1>Privacy Policy</h1>


<p>
	Last modified: March 9, 2014
</p>
<p>
	 Welcome to Ratafire! You can use the services provided by us to share, collaborate and fund open creative or research works. When you share information with us, by creating an account, by posting your projects, or by subscribing to other users, we will protect your privacy according to our Privacy Policy.
</p>
<p>
	<strong> Information we receive</strong>
</p>
<p style="margin-left: 20px;">
	<strong> Information you provide</strong>
</p>
<p style="margin-left: 40px;">
	<strong>Personal Information.</strong> When you sign up for a Ratafire account, we will ask for your personal information like your name and email address. If you wish to fully explore our sharing features, you can provide further information about yourself in the settings page, like profile photo and your short bio.
</p>
<p style="margin-left: 20px;">
	<strong> Information we collect</strong>
</p>
<p style="margin-left: 40px;">
	<strong>Log Information.</strong> Details of how you use our services including your login and password, your search queries.
</p>
<p style="margin-left: 40px;">
	<strong>Transaction Information.</strong> Details of transactions made by you through our services.
</p>
<p style="margin-left: 40px;">
	<strong> Cookies and Internet Protocol Addresses.</strong>
</p>
<p>
	<strong>How we use your information</strong>
</p>
<p style="margin-left: 20px;">
	We use the information we receive to improve, maintain and to develop new services.
</p>
<p style="margin-left: 20px;">
	We may use this information to provide you with custom content, from presenting more relevant search results to projects that may interest you.
</p>
<p style="margin-left: 20px;">
	We may contact you with notifications related to the service through email or contact you regarding questions you ask us.
</p>
<p style="margin-left: 20px;">
	When you contact us, we may keep a record of the communication to help solve the issue you report to us.
</p>
<p style="margin-left: 20px;">
	We will ask for your consent before using the information you provide us for purposes that are not in our Privacy Policy.
</p>
<p>
	<strong>Specific Product Practices</strong>
</p>
<p style="margin-left: 20px;">
	<strong>Projects.</strong> Ratafire is designed to create a more open environment for both scientific and artistic researches and creations, in the meantime ensure your right to gain rewards and recognitions through your works.
</p>
<p style="margin-left: 20px;">
	When you use Ratafire to share your projects, you are required to license the content you choose to post, except from its software components if any, under <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Attribution-NonCommercial-ShareAlike 4.0 International License</a> (CC BY-NC-SA 4.0).
</p>
<p style="margin-left: 20px;">
	For detail explanations of how our License Policy works, see the Content and License section of Terms of Use.
</p>
<p style="margin-left: 20px;">
	<strong>Subscription.</strong> You can use the subscription service in Ratafire to subscribe to project creators with a monthly subscription fee. You can also choose to accept subscriptions from your subscribers.
</p>
<p style="margin-left: 20px;">
	Project creators you subscribed to will not receive your credit card information or your email address.
</p>
<p style="margin-left: 20px;">
	We provide the verified personal or legal entity name to subscribers in their receipt emails.
</p>
<p>
	<strong>Transparency</strong>
</p>
<p style="margin-left: 20px;">
	You may edit or remove your personal information in the settings page. You may also set your browser to block cookies from our services.
</p>
<p>
	<strong>Information you share</strong>
</p>
<p style="margin-left: 20px;">
	Most parts of our website can be accessed without registering a Ratafire account. Be aware that when you share information to the public, other users may collect it.
</p>
<p>
	<strong>Information we share</strong>
</p>
<p style="margin-left: 20px;">
	We will not share your personal information with any other company, organization or individual unless it is required by law or it is necessary to protect against harm to the rights or safety of Ratafire, of our users as permitted by law.
</p>
<p>
	<strong>Information Security</strong>
</p>
<p style="margin-left: 20px;">
	Our services are encrypted with SSL.
</p>
<p>
	<strong>Contact</strong>
</p>
<p style="margin-left: 20px;">
	Our Privacy Policy may change as Ratafire grows, but we will not reduce your rights under this Privacy Policy without your consent. If you have any question regarding our Privacy Policy, contact <a href="mailto:privacy@ratafire.com" style="font-size: 14px;">privacy@ratafire.com</a>.
</p>
</div>
<%= render 'layouts/footer' %>