<!--~~~~~~~~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<!-- Page Title -->
	<% provide(:title, "Terms of Use") %>


<!--~~~~~~~~~~~~~~~~~~~~~~~~ Sidebar ~~~~~~~~~~~~~~~~~~~~~~~~-->	

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Page Contents ~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="static-content">
	<h1>Terms of Use</h1>
<p>
	Last modified: March 10, 2014
</p>	
<p>
	By using our products and services (“Services”) on Ratafire.com web site, or any services of Ratafire Inc (“Ratafire”, “we”), you agree to be bound by the following terms and conditions (“Terms of Service”). Read them carefully before using our Services.
</p>
<p>
	Violation of any of the terms will result in the termination of your account and the possible removal of all of the Content you post on Ratafire. Ratafire is not responsible for the Content you post or view on our web site.
</p>
<p>
	<strong>A. Account</strong>
</p>
<p style="margin-left: 20px;">
	1. You must be 18 years or older to use our Services.
</p>
<p style="margin-left: 20px;">
	2. You may not maintain more than one account.
</p>
<p style="margin-left: 20px;">
	3. You must be a human. If you are a bot or automated registration software, you cannot use our Services.
</p>
<p style="margin-left: 20px;">
	4. You must provide your legal full name, a valid email address when signing up for our Services. You will not provide any false personal information on Ratafire or impersonate anyone other than yourself.
</p>
<p style="margin-left: 20px;">
	5. Currently you may only use a Ratafire account to represent yourself. You may not use it to represent a company, an organization or any other legal entity. Term A.5 may be subjected to changes in the future.
</p>
<p style="margin-left: 20px;">
	6. You must not use our Services for any illegal purposes, or violate any laws in your jurisdiction, including but not limited to copyright laws.
</p>
<p style="margin-left: 20px;">
	7. You are responsible for the security of your account and password. As it is stated in our <%= link_to "Privacy Policy", privacy_path %>, Ratafire will not share your login information unless required by law. However, we are not liable for any loss or damage from your failure to maintain the security of your login information.
</p>
<p style="margin-left: 20px;">
	9. If we remove or disable your account, you will not create another one without our permission.
</p>
<p>
	<strong>B. Content and License</strong>
</p>
<p style="margin-left: 20px;">
	<strong>a. Content Terms</strong>
</p>
<p style="margin-left: 40px;">
	1. You will not use our Services for any illegal or unauthorized commercial purposes such as spam and fraud.
</p>
<p style="margin-left: 40px;">
	2. You must always give proper attribution to the original sources. You can use the “Inspired by” function we provide to give attribution.
</p>
<p style="margin-left: 40px;">
	3. You will not post any Content that is misleading, malicious or discriminatory, including but not limited to post Content that would cause confusion between you and a person or a company.
</p>
<p style="margin-left: 40px;">
	4. You will not post any Content that threatens, harasses, and bullies another user.
</p>
<p style="margin-left: 40px;">
	5. You will not post any Content that includes malicious speech, glorifying violence or self-harm, gore, mutilation, bestiality or necrophilia.
</p>
<p style="margin-left: 40px;">
	6. You will not post any Content that is pornographic or explicit in nature.
</p>
<p style="margin-left: 40px;">
	7. You will not upload viruses or other malicious code.
</p>
<p style="margin-left: 40px;">
	8. Ratafire reserves the right to remove any Content for any reason, especially if we believe you have violated our Terms of Use.
</p>
<p style="margin-left: 20px;">
	<strong>b. License Terms</strong>
</p>
<p style="margin-left: 40px;">
	Ratafire is designed to create a more open environment for both scientific and artistic researches and creations, in the meantime ensure your right to gain rewards and recognitions through your works.
</p>
<p style="margin-left: 40px;">
	1. When you use Ratafire to share your projects, you are required to license the content you choose to post, except from its software components if any, under <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Attribution-NonCommercial-ShareAlike 4.0 International License</a> (CC BY-NC-SA 4.0).
</p>
<p style="margin-left: 40px;">
	2. You reserve full commercial right to the Content you post on Ratafire. Ratafire does not own your content, and we are merely a host to your projects. You can further grant commercial licenses of your Content for a fee outside of Ratafire.
</p>
<p style="margin-left: 40px;">
	3. On top of the CC BY-NC-SA 4.0 License, you can grant any additional license you wish for the Content you post.
</p>
<p style="margin-left: 40px;">
	4. Ratafire supports open source software. Both the popular open source licenses: <a href="https://www.gnu.org/copyleft/gpl.html">GNU General Public License</a> and <a href="http://opensource.org/licenses/MIT">The MIT License</a> are not compatible with CC By-NC-SA 4.0. Therefore, for any software component of the projects on Ratafire, refer to the actual hosting page of the software for its license.
</p>
<p>
	<strong>D. Specific Product Practices</strong>
</p>
<p style="margin-left: 20px;">
	<strong>a. Projects</strong>
</p>
<p style="margin-left: 40px;">
	1. The projects you post on Ratafire must be in the following nine categories (“Realms”): Art, Music, Games, Writing, Films & Videos, Math, Research: Science, Research: Humanity, Engineering. For detail description of the categories, see our Project Guidelines.
</p>
<p style="margin-left: 40px;">
	2. By posting your projects on Ratafire, you agree to try to work towards the completion of your projects. You will mark any project that is completed as Completed and any project your choose not to continue as Abandoned. Projects you failed to update in 90 days will be marked as abandoned automatically.
</p>
<p style="margin-left: 40px;">
	3. Upon the completion of a project, an archive copy of the project will be saved permanently for the reference of subscribers. Projects can only be marked as current, abandoned, or completed, and cannot be deleted after they are published.
</p>
<p style="margin-left: 20px;">
	<strong>b. Subscription</strong>
</p>
<p style="margin-left: 40px;">
	1. When you subscribe to a user, you agree to subscribe to that user’s update on the user’s projects, for the purpose of supporting the user to complete the user’s projects. You may not subscribe to a user for any other purpose than this.
</p>
<p style="margin-left: 40px;">
	2. Since the Content post by users in their projects is licensed under the CC BY-NC-SA 4.0 License, the Content is available to the general public, including non-Ratafire users and non-subscribers. Your subscription will not grant you the right to exclusive Content. However, your subscription will enable you to follow the updates on projects by the user you subscribed to.
</p>
<p style="margin-left: 40px;">
	3. Your subscription record on Ratafire is not anonymous and is available to the public for the purpose of providing recognition to subscribers and the subscribed, and for the purpose of maintaining transparency. Ratafire does not accept anonymous subscription.
</p>
<p style="margin-left: 40px;">
	4. Your subscription can be terminated without your consent under the following conditions: 1) The user you subscribed to refuse your subscription, 2) Your failure of paying the subscription fee, 3) The user you subscribed to fail to maintain the requirements of accepting subscription, 4) Ratafire removes your subscription.
</p>
<p style="margin-left: 40px;">
	5. If you unsubscribe from a user, you may only subscribe to the same user again after 30 days.
</p>
<p style="margin-left: 40px;">
	6. You are responsible to judge the quality of the Content post by the user you subscribed to, in order to decide whether to subscribe to the user. You are fully responsible for your own judgment in this decision.
</p>
<p style="margin-left: 40px;">
	7. You may only accept subscription if you have an ongoing project on Ratafire. Failure of having an ongoing project after you turn on the accept subscription feature for 30 days will result in the removal of all your subscribers.
</p>
<p style="margin-left: 40px;">
	8. If you turn on the accept subscription feature and you fail to produce any update on your current projects or any new project in 30 days, this will result in the removal of all your subscribers.
</p>
<p style="margin-left: 40px;">
	9. If you choose to accept subscription from your subscribers, you agree to post the Content of your project on Ratafire under the CC BY-NC-SA 4.0 License. You agree to try to complete the projects you post on Ratafire. Violation of Term D.b.8 will result in termination of your account.
</p>
<p style="margin-left: 40px;">
	10. If you reach your subscription amount goal, you agree to try to fulfill the intended update frequency or plans you provide.
</p>
<p style="margin-left: 40px;">
	11. Understand that individuals' abilities vary. Sometimes a user may fail to complete a project or uphold the update frequency of the project. When it is not a violation to our Terms of Service, and if you are subscribed to this user, it is up to you to decide whether to continue your subscription.
</p>
<p style="margin-left: 40px;">
	12. The agreement of subscription is solely between the subscriber and the subscribed, Ratafire is not responsible for any dispute between the subscriber and the subscribed. Choose wisely to whom you subscribe and whom you allow to subscribe to you. However, if any user violates the Terms of Use when using the subscription feature provided by us, Ratafire will act in accordance to our Terms of Use.
</p>
<p style="margin-left: 40px;">
	13. Ratafire reserves the right to remove, cancel, interrupt, and freeze a subscription at any time for any reason. Ratafire is not liable for the result of such action.
</p>
<p style="margin-left: 20px;">
	<strong>b. Payments</strong>
</p>
<p style="margin-left: 40px;">
	1. If you choose to subscribe to another user, you agree to provide your payment information at the time you subscribe. The payment will be collected at the first day of every month only if the subscription agreement between you and the user you subscribed to maintains.
</p>
<p style="margin-left: 40px;">
	2. Subscribers consent to Ratafire and its payments partners in reserving a charge on their payment card or other payment method for any amount up to the full subscription amount at the time of the collection of the funds.
</p>
<p style="margin-left: 40px;">
	3. Subscribers may increase, decrease or cancel their subscription at any time.
</p>
<p style="margin-left: 40px;">
	4. Ratafire does not offer refunds. A user who accepts subscription is not required to offer refund even if the user fails to complete the project. However, the user can offer refund independent of Ratafire if the user believes it is fair to do so.
</p>
<p style="margin-left: 40px;">
	5. The Amazon Payments fee on the check out page is merely an estimate of the maximum transaction fee may be collected by Amazon. Consult the website of Amazon Payments for the actual rate.
</p>
<p style="margin-left: 40px;">
	6. Currently subscription fees are collected by Amazon Payments. Ratafire does not keep the record of credit cards or other payment methods, and is not responsible for the performance of Amazon Payments.
</p>
<p>
	<strong>F. Termination</strong>
</p>
<p style="margin-left: 20px;">
	1. If you decide to leave Ratafire, you can stop using your account. An account that has not login for 90 days will be marked as inactive. Projects and subscriptions made by you in the past will still be attributed to your username in this circumstance. You can also disable your account in your settings page, disabling your account will result in: 1) The link to your profile page being disabled, 2) The removal of your profile picture, 3) Cancelation of all your current subscriptions including the subscriptions you made to other users and the subscriptions made to you. For the sake of transparency and reference, your projects and your history of subscription will not be deleted.
</p>
<p style="margin-left: 20px;">
	2. Ratafire, in its sole discretion, has the right to cancel, remove, freeze your account and refuse any and all current or future use of the Services. Such termination of the Services may result in the deletion of the Content you post on Ratafire.
</p>
<p>
	<strong>G. Liability of our Services</strong>
</p>
<p style="margin-left: 20px;">
	1. Your use of the Services is at your sole risk. The Services are provided on an “as is” and “as available” basis without warranty of any kind, express or implied, including, but not limited to, the implied warranties of title, non-infringement, merchantability, and fitness for a particular purpose, and any warranties implied by any course of performance or usage of trade, all of which are expressly disclaimed. We do not guarantee that 1) Ratafire will always be safe, secure or error free or will function without disruptions and delays; 2) the quality of any products, 3) the Services will meet your specific requirements. Ratafire is not responsible for the actions, content, information or data of third parties, and you release us, our directors, officers, employees, and agents from any claims and damages, known and unknown, arising out of or in any way connected with any claim you have against any such third parties. In some states, the applicable law may not allow the limitation or exclusion of liability or incidental or consequential damages, therefore the above limitation may not apply to you.
</p>
<p>
	<strong>H. Intellectual Property</strong>
</p>
<p style="margin-left: 20px;">
	1. We have filed for a DMCA agent for Ratafire. When the Services launches, this section of Terms of Use will be revised to reflect the way you may contact our DMCA agent for issues related to copyright.
</p>
<p>
	<strong>I. Other Terms</strong>
</p>
<p style="margin-left: 20px;">
	1. The failure of Ratafire to exercise or enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or provision.
</p>
<p style="margin-left: 20px;">
	2. If Ratafire makes material changes to our Terms of Service, we will notify you by email or post a notice on our web site.
</p>
<p style="margin-left: 20px;">
	3. Questions about the Terms of Service should be sent to <a href="mailto:support@ratafire.com">support@ratafire.com</a>.
</p>
</div>


<%= render 'layouts/footer' %>