<!-- Audio Successbox-->
<% if audio.project_id != nil %>
								<!-- Video Success-Box-->
								<div id="video-success-box" style="height:80px;">
									<div class="video-upload-words">
									<span>Upload Succeed!</span>
									<ul>Your audio track is ready.</ul>
									</div>
								</div>
<% end %>
<script>
$(document).ready(function(){
	$("#audio-progress-box").hide();
});	
</script>