<div class="panel">


	<div class="panel-body" style="padding:0 2px 2px 0;">
		<!-- Friend Images -->
		<%= render partial: "profile/components/friend_images", collection: contacts, :as => :user %>
	</div><!-- end .panel-body -->
</div>