<!-- Video -->
<div class="video-holder spacer-mini-bottom">
	<iframe src="https://www.youtube.com/embed/SCwS8mi843I" frameborder="0" allowfullscreen></iframe>
</div><!-- end .video-holder -->
<!-- About the Project -->
<div class="text-size-large spacer-mini-bottom text-light">
	<span class="label label-blue">Art</span>
	We've added a whole new section, called Items of the Second Era, into the People & Societies tab. It's a breakdown of over 2,200 items and their descriptions. 
</div>	
<!-- Social Share Buttons -->
<%= render 'utilities/social/share_buttons'%>