<div id="editor-options-holder">
    <div class="panel-body">
        <!-- Text Post -->
        <div class="col-xs-2 col-md-2 no-padding">
            <div class="center-block btn btn-float btn-rounded btn-float-lg btn-flat">
                <i class="fa fa-font text-pink-300"></i><span class="text-thin text-grey-200">Text</span>
            </div>
        </div>
        <!-- Image Post -->
        <div class="col-xs-2 col-md-2 no-padding">
            <div class="center-block btn btn-float btn-rounded btn-float-lg btn-flat">
                <i class="fa fa-camera-retro text-brown-300"></i><span class="text-thin text-grey-200">Image</span>
            </div>
        </div>
        <!-- Link Post -->
        <div class="col-xs-2 col-md-2 no-padding">
            <div class="center-block btn btn-float btn-rounded btn-float-lg btn-flat">
                <i class="fa fa-link text-green-400"></i><span class="text-thin text-grey-200">Link</span>
            </div>
        </div>    
        <!-- Audio Post -->
        <div class="col-xs-2 col-md-2 no-padding">
            <div class="center-block btn btn-float btn-rounded btn-float-lg btn-flat">
                <i class="fa fa-headphones text-info-400"></i><span class="text-thin text-grey-200">Audio</span>
            </div>
        </div>        
        <!-- Video Post -->
        <div class="col-xs-2 col-md-2 no-padding">
            <div class="center-block btn btn-float btn-rounded btn-float-lg btn-flat">
                <i class="fa fa-youtube-play text-purple-400"></i><span class="text-thin text-grey-200">Video</span>
            </div>
        </div>             
        <!-- Story Post -->
        <div class="col-xs-2 col-md-2 no-padding">
            <div class="center-block btn btn-float btn-rounded btn-float-lg btn-flat">
                <i class="fa fa-book text-slate-300"></i><span class="text-thin text-grey-200">Story</span>
            </div>
        </div>         
    </div>       
</div>