<div id="active-campaign-reward">
	<% if current_user == @user %>
		<%= render partial:'profile/components/reward_holder', locals: {user: user}%>
	<% else %>
		<%= link_to new_user_payment_backs_path(user.uid, amount: user.active_reward.amount.to_i, get_reward: 'on'), method: :get do %>
			<%= render partial:'profile/components/reward_holder', locals: {user: user}%>
		<% end %>
	<% end %>
</div>
<script type="text/javascript">
	// Block panel if all reward slots are taken
	<% if user.active_reward.backers > 0 && user.active_reward.reward_receivers.count >= user.active_reward.backers %>
	   $('#active-campaign-reward').block({message: null,overlayCSS: {
		    backgroundColor: '#fff',
		    opacity: 0.4,
		    cursor: 'not-allowed'
	    },}); 
	<% end %>
</script>