<h2 class="mt-40 mb-20"><i class="ti-cup" style="margin-right:15px;"></i>Rewards</h2>
<div class="panel-reward panel">
	<div class="panel-heading bg-rainbow-600">
		<div class="panel-title text-uppercase text-semibold">Cougar</div>
		<div class="heading-elements">
			<ul class="icons-list">
        		<li><a data-action="collapse"></a></li>
        	</ul>
    	</div>
	</div>
	<div class="panel-body">
		<h5 class="no-margin-top">Support $5 or more</h5>
		<p class="text-grey"><i class="fa fa-user-plus"></i> <span >0/10 backers</span></p>
		<div>This new adventure will allow us to refocus on the community that is the heart of our success and address many of the wishes expressed in the forums.</div>
	</div>	
</div>
<div class="panel-reward panel">
	<div class="panel-heading bg-rainbow-600">
		<div class="panel-title text-uppercase text-semibold">Leopard</div>
		<div class="heading-elements">
			<ul class="icons-list">
        		<li><a data-action="collapse"></a></li>
        	</ul>
    	</div>
	</div>
	<div class="panel-body">
		<h5 class="no-margin-top">Support $10 or more</h5>
		<p class="text-grey"><i class="fa fa-user-plus"></i> <span >0/10 backers</span></p>
		<div>This new adventure will allow us to refocus on the community that is the heart of our success and address many of the wishes expressed in the forums.</div>
	</div>	
</div>
<div class="panel-reward panel">
	<div class="panel-heading bg-rainbow-600">
		<div class="panel-title text-uppercase text-semibold">Jaguar</div>
		<div class="heading-elements">
			<ul class="icons-list">
        		<li><a data-action="collapse"></a></li>
        	</ul>
    	</div>
	</div>
	<div class="panel-body">
		<h5 class="no-margin-top">Support $15 or more</h5>
		<p class="text-grey"><i class="fa fa-user-plus"></i> <span >0/10 backers</span></p>
		<div>This new adventure will allow us to refocus on the community that is the heart of our success and address many of the wishes expressed in the forums.</div>
	</div>	
</div>
<div class="panel-reward panel">
	<div class="panel-heading bg-rainbow-600">
		<div class="panel-title text-uppercase text-semibold">Cheetah</div>
		<div class="heading-elements">
			<ul class="icons-list">
        		<li><a data-action="collapse"></a></li>
        	</ul>
    	</div>
	</div>
	<div class="panel-body">
		<h5 class="no-margin-top">Support $25 or more</h5>
		<p class="text-grey"><i class="fa fa-user-plus"></i> <span >0/10 backers</span></p>
		<div>This new adventure will allow us to refocus on the community that is the heart of our success and address many of the wishes expressed in the forums.</div>
	</div>	
</div>
<div class="panel-reward panel">
	<div class="panel-heading bg-rainbow-600">
		<div class="panel-title text-uppercase text-semibold">Lion</div>
		<div class="heading-elements">
			<ul class="icons-list">
        		<li><a data-action="collapse"></a></li>
        	</ul>
    	</div>
	</div>
	<div class="panel-body">
		<h5 class="no-margin-top">Support $50 or more</h5>
		<p class="text-grey"><i class="fa fa-user-plus"></i> <span >0/10 backers</span></p>
		<div>This new adventure will allow us to refocus on the community that is the heart of our success and address many of the wishes expressed in the forums.</div>
	</div>	
</div>
<div class="panel-reward panel">
	<div class="panel-heading bg-rainbow-600">
		<div class="panel-title text-uppercase text-semibold">Tiger</div>
		<div class="heading-elements">
			<ul class="icons-list">
        		<li><a data-action="collapse"></a></li>
        	</ul>
    	</div>
	</div>
	<div class="panel-body">
		<h5 class="no-margin-top">Support $100 or more</h5>
		<p class="text-grey"><i class="fa fa-user-plus"></i> <span >0/10 backers</span></p>
		<div>This new adventure will allow us to refocus on the community that is the heart of our success and address many of the wishes expressed in the forums.</div>
	</div>	
</div>