<h2 class="spacer-top spacer-mini-bottom"><i class="ti-cup" style="margin-right:15px;"></i>Rewards</h2>
<div class="panel-reward panel">
	<div class="panel-heading bg-blue">
		<div class="panel-title text-uppercase text-semibold">Support $10 or more</div>
		<div class="heading-elements">
			<ul class="icons-list">
        		<li><a data-action="collapse"></a></li>
        	</ul>
    	</div>
	</div>
	<div class="panel-body">
		<p class="text-grey"><i class="fa fa-user-plus"></i> <span >0/10 backers</span></p>
		<div>This new adventure will allow us to refocus on the community that is the heart of our success and address many of the wishes expressed in the forums.</div>
	</div>	
</div>
<div class="panel-reward panel">
	<div class="panel-heading bg-blue">
		<div class="panel-title text-uppercase text-semibold">Support $10 or more</div>
		<div class="heading-elements">
			<ul class="icons-list">
        		<li><a data-action="collapse"></a></li>
        	</ul>
    	</div>
	</div>
	<div class="panel-body">
		<p class="text-grey"><i class="fa fa-user-plus"></i> <span >0/10 backers</span></p>
		<div>This new adventure will allow us to refocus on the community that is the heart of our success and address many of the wishes expressed in the forums.</div>
	</div>	
</div>