<!-- Toolbar -->
<div class="navbar navbar-default navbar-ratafire navbar-xs" style="z-index: 1000;">
	<ul class="nav navbar-nav visible-xs-block ml-20">
		<li class="full-width text-center"><a data-toggle="collapse" data-target="#navbar-filter"><i class="icon-menu7"></i></a></li>
	</ul>

	<div class="navbar-collapse collapse" id="navbar-filter">
		<!-- Toolbar left -->
		<ul class="nav navbar-nav element-active-slate-400">
			<!-- Updates -->
			<li class="active tab-updates"><a href="#updates" data-toggle="tab" id="tab-updates"><i class="ti-rss-alt"></i></a></li>
			<!-- Friends -->
			<li class="tab-backeds"><a href="#backed" data-toggle="tab" id="tab-backeds"><i class="huaxia huaxia-haoyouqingqiu"></i></a></li>				
			<li><a href="#liked" data-toggle="tab"><i class="huaxia huaxia-guanzhu"></i></a></li>
		</ul>
	</div>
</div>
<!-- /toolbar -->