<!-- Toolbar -->
<div class="navbar navbar-default navbar-ratafire navbar-xs">
	<ul class="nav navbar-nav visible-xs-block">
		<li class="full-width text-center"><a data-toggle="collapse" data-target="#navbar-filter"><i class="icon-menu7"></i></a></li>
	</ul>

	<div class="navbar-collapse collapse" id="navbar-filter">
		<!-- Toolbar left -->
		<ul class="nav navbar-nav element-active-slate-400">
			<!-- Updates -->
			<li class="active tab-updates"><a href="#updates" data-toggle="tab" id="tab-updates"><i class="ti-rss-alt" style="margin-right:10px;"></i> Updates</a></li>
			<!-- Friends -->
			<li class="tab-friends">
				<a href="#friends" data-toggle="tab" id="tab-friends">
					<i class="ti-user" style="margin-right:10px;"></i> Friends
				<!-- <span class="badge badge-success badge-inline position-right">32</span> -->
				</a>
			</li>
			<li class="tab-backers"><a href="#backers" data-toggle="tab" id="tab-backers"><i class="ti-cloud" style="margin-right:10px;"></i> Backers</a></li>	
			<li class="tab-backeds"><a href="#backed" data-toggle="tab" id="tab-backeds"><i class="ti-thumb-up" style="margin-right:10px;"></i> Backed</a></li>				
			<li><a href="#liked" data-toggle="tab"><i class="fa fa-heart" style="margin-right:10px;"></i> Liked</a></li>
		</ul>
	</div>
</div>
<!-- /toolbar -->