<!-- Toolbar -->
<div class="navbar navbar-default navbar-ratafire navbar-xs" style="z-index: 1000;">
	<ul class="nav navbar-nav visible-xs-block ml-20">
		<li class="full-width text-center"><a data-toggle="collapse" data-target="#navbar-filter"><i class="icon-menu7"></i></a></li>
	</ul>

	<div class="navbar-collapse collapse" id="navbar-filter">
		<!-- Toolbar left -->
		<ul class="nav navbar-nav element-active-slate-400">
			<!-- Updates -->
			<li id="user-profile-tabactive" class="tab-updates"><%= link_to profile_url_path(user.username),id:"tab-updates" do %><i class="ti-rss-alt"></i><% end %></li>
			<!-- Friends -->
			<li id="tabs-friends-tabactive" class="tab-backeds"><%= link_to friends_user_profile_tabs_path(user.id), id:"tab-contacts" do %><i class="huaxia huaxia-haoyouqingqiu"></i><% end %></li>				
			<li><a href="#liked" data-toggle="tab"><i class="huaxia huaxia-guanzhu"></i></a></li>
		</ul>
	</div>
</div>
<!-- /toolbar -->
<script type="text/javascript">
	//Add active to specific tabs
	$('#<%= controller_name %>-<%= action_name %>-tabactive').addClass('active');
</script>