<script type="text/javascript">
    $('#s3_uploader_profilephoto').S3Uploader(
      { 
        remove_completed_progress_bar: false,
        dropZone: $('#profilephoto-dropzone'),
        progress_bar_target: $('#profilephoto-progress-case'),
        additional_data: { "profilephoto[user_uid]": $('#s3_uploader_profilephoto').data('user-uid')},
    },"artwork"); //ratafire_file_type,content_temp_value,content_temp_video_value,tags_temp_video_value
    $('#s3_uploader_profilephoto').bind('s3_upload_failed', function(e, content) {
        return alert(content.filename + ' failed to upload');
    });   
    $('#s3_uploader_profilephoto').bind('s3_uploads_start', function(e, content) {
    	$('.caption').hide();
        $('#cover-profilephoto-holder,#about-profilephoto-holder').block({
            message: '<i class="icon-spinner2 spinner text-blue"></i>',
            overlayCSS: {
            	backgroundColor: '#fff',
                opacity: 0.4,
                cursor: 'wait'
            },
            css: {
                border: 0,
                padding: 0,
                backgroundColor: 'transparent'
            }
        });  
    });  	
</script>
<div class="caption">
	<span>
		<div class="thumb-slide-style">
			<!-- Direct Upload-->
			<a class="btn bg-blue btn-icon btn-xs cursor-pointer">
				<%= s3_uploader_form callback_url: userinfo_profilephoto_path(profilephoto),
				callback_method: 'PATCH',
				id: "s3_uploader_profilephoto",
				callback_param: "profilephoto[direct_upload_url]",
				expiration: 24.hours.from_now.utc.iso8601,
				max_file_size: 2.megabytes,:remote => true,
                data: {user_uid: user.uid} do %>
					<%= file_field_tag :file, multiple: false, class:"btn-upload",style:"margin:-5px 0 0 -10px;z-index:100;" %>
				<% end %>	
				<i class="icon-plus2 cursor-pointer"></i>
			</a>
		</div>
	</span>
</div>
