            <div class="container no-bottom">
                <h3>Our Mobile Site is Under Construction</h3>
                <p>
                    Our desktop site is fully functional. Please visit with a computer to enjoy Ratafire!
                </p>
            </div>

            <div class="decoration"></div>

            <div>
                <iframe class="responsive-video" src="http://player.vimeo.com/video/110195763"></iframe>
            </div>