<footer class="site-footer bg-rainbow-300 text-grey-100 text-thin">

        <div class="row m-40 align-center">
        	<div class="col-md-1 col-sm-6">
        	</div>
            <div class="col-md-3 col-sm-6">
                <div><img alt="Logo" class="logo" src="/assets/logo/ratafire_light_blue.png" style="width:128px;" /></div>
                <div class="mt-5">Back the next top
                    <div class="slidingVertical" style="text-indent: 4px;">
                        <span class="text-grey-100">artist&nbsp</span>
                        <span class="text-grey-100">musician&nbsp</span>
                        <span class="text-grey-100">game designer&nbsp</span>
                        <span class="text-grey-100">writer&nbsp</span>
                        <span class="text-grey-100">film maker&nbsp</span>
                        <span class="text-grey-100">mathematician&nbsp</span>
                        <span class="text-grey-100">scientist&nbsp</span>
                        <span class="text-grey-100">scholar&nbsp</span>
                        <span class="text-grey-100">engineer&nbsp</span>
                    </div>  
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="text-bold">About</div>
                <div>Blog</div>
                <div>Terms</div>
                <div>Privacy</div>
                <div>Pricing</div>
                <div>Press</div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="text-bold">Help</div>
                <div>Guidelines</div>
                <div>Creator's Guide</div>
                <div>FAQ</div>
                <div>Support</div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="text-bold">Explore</div>
                <div>Art</div>
                <div>Music</div>    
                <div>Games</div> 
                <div>Writing</div>   
                <div>Videos</div>        
            </div>
            <div class="col-md-2 col-sm-6">
                <div>&nbsp</div>
                <div>Math</div>
                <div>Science</div>    
                <div>Humanity</div> 
                <div>Engineering</div>       
            </div>
        	<div class="col-md-1 col-sm-6">
        	</div>
        </div>
        <!--end of row-->
        <div class="row m-40">
        	<div class="col-md-1 col-sm-6">
        	</div>
            <div class="col-md-5 col-sm-6">
                <span class="sub">&copy; Copyright 2016 - Ratafire</span>
            </div>
            <div class="col-md-5 col-sm-6 text-right">
                <ul class="list-inline social-list">
                    <li>
                        <a href="https://www.facebook.com/ratafire" data-popup="tooltip" title="Facebook" data-placement="top" target="_blank">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/ratafirer" data-popup="tooltip" title="Twitter" data-placement="top" target="_blank">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://youtube.com/ratafire" data-popup="tooltip" title="YouTube" data-placement="top" target="_blank">
                            <i class="fa fa-youtube"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/ratafire/" data-popup="tooltip" title="Instagram" data-placement="top" target="_blank">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.pinterest.com/ratafire/" data-popup="tooltip" title="Pinterest" data-placement="top" target="_blank">
                            <i class="fa fa-pinterest"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-1 col-sm-6">
        	</div>
        </div>
</footer>