<!-- Footer -->
<div class="light-footer text-size-mini text-grey">
	<!-- Creator guidelines -->
	<%= link_to '/site/creator_guidelines' do %>
		<span class="mr-10 text-grey-100">
			<%= t 'views.utilities.menu.creator_guidelines' %>
		</span>
	<% end %>
	<%= render partial:'utilities/language/language_switcher', locals: {switcher_type: 'up'}%>
</div>	
