<p>What are you creating? This is the title for your grand long term work. For example, if you are creating a book, this should be the title of the book instead of the title of a chapter.</p>
<p>People can find your project through the title. Be ambitious!</p>