<div class="lightbox4" style="text-align: center; border-bottom: 1px solid transparent;">
		<h5><%= @user.fullname %> does't have a current discussion.</h5>
		<!-- Cutter --><ol style="margin-top: 40px;"></ol>
</div>