<%= form_for [@discussion], :url => discussion_update_path(@discussion),:validate => true, :html => {:class => 'no_ajaxify',:id => "discussion-form" } do |f| %>
    <div class="field-selection-textholder">
    	<%= f.text_field :title,:placeholder => "Enter Discussion Title", class:"field-input" %>
    </div>	
    <!-- Art -->
    <%= f.select(:sub_realm, ['A New Field', "Applied Physics", "Biomolecular", "Chemical", "Civil", "Computer", "Construction", "Electrical", "Mechanical", "Sustainable", "Other"],  {include_blank: "Select a Field"}, { class:"discussion-select-a-field" }) %>
<% end %>    