<!--~~~~~~~~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<!-- Page Title -->
	<% provide("Create a discussion") %>

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Additional Style ~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Font ~~~~~~~~~~~~~~~~~~~~~~~~-->	

<% content_for(:additional_background) do %>
<div class="discussion-background-image"></div>
<% end %>
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Page Contents ~~~~~~~~~~~~~~~~~~~~~~~~-->
      
	<!-- Main Content -->
	<div class="center" style="width: 790px;margin-top:60px;">
		<!-- Post Content -->
		


			<!-- Select a Field -->
			<div class="field-selection-holder">

				<h1>Customize the Discussion</h1>

				<% if @discussion.realm == "art" %>
					<%= render "discussions/subrealm_art"%>
				<% end %>    

   				<div style="margin: 15px 15px 0 0; text-align:right;">
					<div class="btn-light btn-medium2 btn-medium-snow no_ajaxify enter" id="field-customization-submit">Next</div>
				</div>
			</div>	

		
	</div><!-- end .center-->	

<script>
    $(document).ready(function() {

	//Enter
	$("#field-customization-submit").click(function(){
		$("#discussion-form").submit();
	});			

});
</script>
	