$("#like-pagination").append("<div class='added-likes'><%= j render_activities(@activities, layout: :activity_liked) %></div>");
$('#like-pagination-old').remove();
initiate_plugins('<%= j @popoverclass %>_video_class');
refreshUsercard('<%= j @popoverclass %>');
<% if @activities.next_page %>
  $('.like-pagination').append('<div id="like-pagination-old"><%= j will_paginate(@activities) %></div>');
<% else %>
  $('.like-pagination').remove();
<% end %>	