<div class="col-lg-3 col-sm-6">
	<div class="thumbnail bg-white-transparent p-20">
		<div class="valign-middle dropzone-bg video-image-dropzone">
			<div class="cursor-pointer center-block text-center">
				<div id="big-image-upload">
					<div class="huaxia huaxia-multipleimage text-grey-100" style="font-size:40px;"></div>
					<div class="text-size-large text-grey-300 mt-5">Upload a project image<span class="text-danger">*</span></div>
					<div class="text-grey-200">Please upload a large image to represent your project</div>
				</div>
			</div>
		</div>
	</div>
</div>