<div class="col-lg-3 col-md-4 col-sm-6">
	<div class="panel-reward panel bg-rainbow-600">
		<div class="panel-body">
			<h5 class="no-margin-top text-thin"><%= t 'views.creator_studio.rewards.new_reward_help'%></h5>
			<!-- New Reward -->
			<% if current_user.active_campaign %>
				<%= link_to new_user_studio_rewards_path(current_user.username), :data => {turbolinks: "false"} do %>
					<div class="btn btn-blue text-white">
						<%= t 'views.creator_studio.rewards.new_reward'%>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>