<!--~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~-->
<!-- Page Title -->
<% provide(:title, @user.preferred_name) %>
<!-- Page Specific JS -->
<!--~~~~~~~~~~~~~~~~~ Page Content ~~~~~~~~~~~~~~~~~-->
<div class="row">
	<!-- Campaigns -->
	<div id="post-pagination">
		<div class="post-pagination">
			<%= render partial: "studio/creator_studios/campaign", collection: @campaigns, :as => :campaign %>
		</div>
	</div>
	<div class="post-will-paginate">
		<%= will_paginate @campaigns %>
	</div>
</div>
