$("#notifications-pagination").append("<div class='added-notifications'><%= j render(:partial => 'studio/creator_studios/notification', collection: @notifications, :as => :notification)%></div>");
$('#friend-pagination-old').remove();
<% if @notifications.next_page %>
  $('.notifications-pagination').append('<%= j will_paginate(@notifications) %>');
<% else %>
  $('.notifications-pagination').remove();
<% end %>	
refreshUsercard('<%= j @popoverclass %>');