<div class="col-xs-12 col-md-8">
	<!-- Text Post -->
	<div class="col-fixed-64">
		<!-- User Image -->
		<%= image_tag('/assets/placeholder/profile.jpg', style:"width:100%;border-radius:5px;")%>
	</div>	
	<div class="col-xs-12 col-md-12 col-offset-64">
		<div class="panel panel-speech">
			<div class="panel-user text-bold text-size-small">Fari</div>
			<!-- Content -->
			<div class="panel-body">
				<!-- Text Post -->
				<!-- Text Post Title -->
				<div class="panel-title text-light" style="font-size:25px;margin:-20px 0 10px 0;">This is a title</div>
				<div class="panel-content text-light">
					The little Princess Barenziah and her nurse were found among the wreckage. General Symmachus, himself a dark elf and born in Mournhold, suggested to His Excellency that the child might someday be valuable, and she was placed with a loyal supporter who had recently retired from the Imperial army. On retirement, Sven Advensen had been made Baron of Blackmoor, a small town in central Skyrim. Baron Sven and his wife reared her as their own daughter, saw to it that she was educated appropriately, and more importantly, was taught the Imperial virtues and piety. In short, she was made fit to take her place as a member of the new ruling class of Morrowind.
				</div><!-- end .panel-content-->	
				<!-- Tags -->
				<div class="text-muted mt-10 text-thin">#tags #tagsmore</div>			
			</div><!-- end .panel-body -->
				<!-- Tools -->
				<div class="text-right text-muted" style="padding:0 20px 15px 0;font-size:20px;"><i class="ti-share mr-10" data-popup="tooltip" title="Share" data-placement="bottom"></i><i class="ti-loop mr-10" data-popup="tooltip" title="Repost" data-placement="bottom"></i><i class="fa fa-heart-o" style="font-size:20px;" data-popup="tooltip" title="Like" data-placement="bottom"></i></div>			
		</div><!-- end .panel -->
	</div><!-- end .col-xs-10 col-md-7-->	
	<!-- Video Post -->
	<div class="col-fixed-64">
		<!-- User Image -->
		<%= image_tag('/assets/placeholder/profile.jpg', style:"width:100%;border-radius:5px;")%>
	</div>	
	<div class="col-xs-12 col-md-12 col-offset-64">
		<div class="panel panel-speech">
			<div class="panel-user text-bold text-size-small">Fari</div>
			<!-- Video Post -->
			<!-- Video -->
			<div class="videoWrapper">
				<iframe src="https://www.youtube.com/embed/SCwS8mi843I" frameborder="0" allowfullscreen width="100%" height='auto'></iframe>	
			</div>	
			<!-- Content -->
			<div class="panel-body">
				<div class="panel-content text-light">
					The little Princess Barenziah and her nurse were found among the wreckage. General Symmachus, himself a dark elf and born in Mournhold, suggested to His Excellency that the child might someday be valuable, and she was placed with a loyal supporter who had recently retired from the Imperial army. On retirement, Sven Advensen had been made Baron of Blackmoor, a small town in central Skyrim. Baron Sven and his wife reared her as their own daughter, saw to it that she was educated appropriately, and more importantly, was taught the Imperial virtues and piety. In short, she was made fit to take her place as a member of the new ruling class of Morrowind.
				</div><!-- end .panel-content-->	
				<!-- Tags -->
				<div class="text-muted mt-10 text-thin">#tags #tagsmore</div>			
			</div><!-- end .panel-body -->
				<!-- Tools -->
				<div class="text-right text-muted" style="padding:0 20px 15px 0;font-size:20px;"><i class="ti-share mr-10" data-popup="tooltip" title="Share" data-placement="bottom"></i><i class="ti-loop mr-10" data-popup="tooltip" title="Repost" data-placement="bottom"></i><i class="fa fa-heart-o" style="font-size:20px;" data-popup="tooltip" title="Like" data-placement="bottom"></i></div>			
		</div><!-- end .panel -->
	</div><!-- end .col-xs-10 col-md-7-->	
	<!-- Image Post -->
	<div class="col-fixed-64">
		<!-- User Image -->
		<%= image_tag('/assets/placeholder/profile.jpg', style:"width:100%;border-radius:5px;")%>
	</div>	
	<div class="col-xs-12 col-md-12 col-offset-64">
		<div class="panel panel-speech">
			<div class="panel-user text-bold text-size-small">Fari</div>
			<!-- Image Post -->
			<!-- Image -->
			<div class="imagePost">
				<div class="photoset-grid-lightbox" data-layout="123" style="visibility: hidden;">
				  	<img src="assets/placeholder/dawn-landscape-mountains-forest.jpg" data-highres="assets/placeholder/dawn-landscape-mountains-forest.jpg">
				  	<img src="assets/placeholder/dawn-landscape-mountains-nature.jpg" data-highres="assets/placeholder/dawn-landscape-mountains-nature.jpg">
				  	<img src="assets/placeholder/landscape-mountains-nature-sky.jpg" data-highres="assets/placeholder/landscape-mountains-nature-sky.jpg">
				  	<img src="assets/placeholder/landscape-nature-sunset-trees.jpg" data-highres="assets/placeholder/landscape-nature-sunset-trees.jpg">
				</div>				
			</div>	
			<!-- Content -->
			<div class="panel-body">
				<div class="panel-content text-light">
					The little Princess Barenziah and her nurse were found among the wreckage. General Symmachus, himself a dark elf and born in Mournhold, suggested to His Excellency that the child might someday be valuable, and she was placed with a loyal supporter who had recently retired from the Imperial army. On retirement, Sven Advensen had been made Baron of Blackmoor, a small town in central Skyrim. Baron Sven and his wife reared her as their own daughter, saw to it that she was educated appropriately, and more importantly, was taught the Imperial virtues and piety. In short, she was made fit to take her place as a member of the new ruling class of Morrowind.
				</div><!-- end .panel-content-->	
				<!-- Tags -->
				<div class="text-muted mt-10 text-thin">#tags #tagsmore</div>			
			</div><!-- end .panel-body -->
				<!-- Tools -->
				<div class="text-right text-muted" style="padding:0 20px 15px 0;font-size:20px;"><i class="ti-share mr-10" data-popup="tooltip" title="Share" data-placement="bottom"></i><i class="ti-loop mr-10" data-popup="tooltip" title="Repost" data-placement="bottom"></i><i class="fa fa-heart-o" style="font-size:20px;" data-popup="tooltip" title="Like" data-placement="bottom"></i></div>			
		</div><!-- end .panel -->
	</div><!-- end .col-xs-10 col-md-7-->	
	<!-- Link Post -->
	<div class="col-fixed-64">
		<!-- User Image -->
		<%= image_tag('/assets/placeholder/profile.jpg', style:"width:100%;border-radius:5px;")%>
	</div>	
	<div class="col-xs-12 col-md-12 col-offset-64">
		<div class="panel panel-speech">
			<div class="panel-user text-bold text-size-small">Fari</div>
			<!-- Link Post -->
			<!-- Link -->
			<div class="">
				<!-- Link Image -->
				<div class="photoset-grid-lightbox" data-layout="131" style="visibility: hidden;">
				  	<img src="assets/placeholder/dawn-landscape-mountains-forest.jpg" data-highres="assets/placeholder/dawn-landscape-mountains-forest.jpg">
					<div class="bg-grey-800" style="margin-top:-20px;">
						<div class="panel-body">
							<h2 class="text-light">This is the link title</h2>
							<div class="text-light" style="margin-top:-10px;color:#cccccc;">This is the link description</div>
						</div>	
					</div>					  	
				</div>				
			</div>	
			<!-- Content -->
			<div class="panel-body">
				<div class="panel-content text-light">
					The little Princess Barenziah and her nurse were found among the wreckage. General Symmachus, himself a dark elf and born in Mournhold, suggested to His Excellency that the child might someday be valuable, and she was placed with a loyal supporter who had recently retired from the Imperial army. On retirement, Sven Advensen had been made Baron of Blackmoor, a small town in central Skyrim. Baron Sven and his wife reared her as their own daughter, saw to it that she was educated appropriately, and more importantly, was taught the Imperial virtues and piety. In short, she was made fit to take her place as a member of the new ruling class of Morrowind.
				</div><!-- end .panel-content-->	
				<!-- Tags -->
				<div class="text-muted mt-10 text-thin">#tags #tagsmore</div>			
			</div><!-- end .panel-body -->
				<!-- Tools -->
				<div class="text-right text-muted" style="padding:0 20px 15px 0;font-size:20px;"><i class="ti-share mr-10" data-popup="tooltip" title="Share" data-placement="bottom"></i><i class="ti-loop mr-10" data-popup="tooltip" title="Repost" data-placement="bottom"></i><i class="fa fa-heart-o" style="font-size:20px;" data-popup="tooltip" title="Like" data-placement="bottom"></i></div>			
		</div><!-- end .panel -->
	</div><!-- end .col-xs-10 col-md-7-->		
</div><!-- Wrapper -->	