<div class="col-xs-2 col-md-1" style="padding-left:20px;">
	<!-- User Image -->
	<%= image_tag('/assets/placeholder/profile.jpg', style:"width:100%;border-radius:5px;")%>
</div>	
<div class="col-xs-10 col-md-7">
	<div class="panel panel-speech">
		<div class="panel-body">
			<div class="panel-user text-blod text-size-small">Fari</div>
			<!-- Text Post -->
			<!-- Text Post Title -->
			<div class="panel-title text-light" style="font-size:25px;margin:10px 0 10px 0;">This is a title</div>
			<!-- Content -->
			<div class="panel-content text-light">
				The little Princess Barenziah and her nurse were found among the wreckage. General Symmachus, himself a dark elf and born in Mournhold, suggested to His Excellency that the child might someday be valuable, and she was placed with a loyal supporter who had recently retired from the Imperial army. On retirement, Sven Advensen had been made Baron of Blackmoor, a small town in central Skyrim. Baron Sven and his wife reared her as their own daughter, saw to it that she was educated appropriately, and more importantly, was taught the Imperial virtues and piety. In short, she was made fit to take her place as a member of the new ruling class of Morrowind.
			</div><!-- end .panel-content-->	
			<!-- Tags -->
			<div class="text-muted spacer-tiny-top text-thin">#tags #tagsmore</div>			
		</div><!-- end .panel-body -->
			<!-- Tools -->
			<div class="text-right text-muted" style="padding:0 20px 15px 0;font-size:20px;"><i class="ti-share spacer-tiny-right"></i><i class="ti-loop spacer-tiny-right"></i><i class="fa fa-heart-o" style="font-size:20px;"></i></div>			
	</div><!-- end .panel -->
</div><!-- end .col-xs-10 col-md-7-->	