<div class="content min-height-100vh">
    <canvas id="canvas" style="position:fixed;top:0;left:0;width:100%;height:100%;" ></canvas>
    <!-- Login Form -->
    <%= render 'utilities/sessions/login'%>
    <%= render 'users/background'%>
    <!-- Legal -->
    <%= render partial:'utilities/sessions/sessions_footer', locals: {switcher_type: 'up'}%> 
</div>