<!--~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~-->
<!-- Page Title -->
<% provide(:title, @user.preferred_name) %>
<div class="row">
	<div class="col-lg-12 col-md-12">
		<div class="panel panel-blue">
			<div class="panel-heading">
				<h6 class="panel-title text-thin"><i class="icon-gift mr-10"></i><%= t 'views.creator_studio.menu.my_rewards'%></h6>
				<div class="heading-elements">
		    	</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<%= render partial: "studio/rewards/my_rewards", locals: {user: @user} %>
				</div>
			</div>
		</div>
	</div>
</div>