
@font-face {font-family: "huaxia";
  src: url('/assets/huaxia/huaxia.eot?t=1459651819'); /* IE9*/
  src: url('/assets/huaxia/huaxia.eot?t=1459651819#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/huaxia/huaxia.woff?t=1459651819') format('woff'), /* chrome, firefox */
  url('/assets/huaxia/huaxia.ttf?t=1459651819') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('/assets/huaxia/huaxia.svg?t=1459651819#huaxia') format('svg'); /* iOS 4.1- */
}

.huaxia {
  font-family:"huaxia" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.huaxia-multipleimage:before { content: "\e66d"; }

.huaxia-book:before { content: "\e672"; }

.huaxia-stars:before { content: "\e652"; }

.huaxia-tilong:before { content: "\e615"; }

.huaxia-haoyouqingqiu:before { content: "\e669"; }

.huaxia-link:before { content: "\e66c"; }

.huaxia-share:before { content: "\e66e"; }

.huaxia-guanzhu:before { content: "\e66b"; }

.huaxia-aiswangluopinpaishu:before { content: "\e656"; }

.huaxia-guanzhu1:before { content: "\e666"; }

.huaxia-jiaocheng:before { content: "\e66f"; }

.huaxia-2b:before { content: "\e658"; }

.huaxia-faxianxuanzhong:before { content: "\e65e"; }

.huaxia-fukuanxuanzhong:before { content: "\e65f"; }

.huaxia-libao:before { content: "\e677"; }

.huaxia-music:before { content: "\e670"; }

.huaxia-ny4:before { content: "\e673"; }

.huaxia-shui1:before { content: "\e674"; }

.huaxia-apppai:before { content: "\e65d"; }

.huaxia-pen:before { content: "\e671"; }

.huaxia-badge:before { content: "\e668"; }

