@font-face {font-family: "traits";
  src: url('/assets/traits/traits.eot?t=1459651819'); /* IE9*/
  src: url('/assets/traits/traits.eot?t=1459651819#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/traits/traits.woff?t=1459651819') format('woff'), /* chrome, firefox */
  url('/assets/traits/traits.ttf?t=1459651819') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('/assets/traits/traits.svg?t=1459651819#traits') format('svg'); /* iOS 4.1- */
}

.traits {
  font-family:"traits" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.trait-traditionalist:before { content: "\e603"; }

.trait-cloud2:before { content: "\e604"; }

.trait-writer:before { content: "\e686"; }

.trait-indoorsy:before { content: "\e605"; }

.trait-artistic:before { content: "\e606"; }

.trait-27cloud:before { content: "\e607"; }

.trait-spiritual:before { content: "\e608"; }

.trait-cloud3:before { content: "\e60a"; }

.trait-eco-friendly:before { content: "\e60b"; }

.trait-outdoorsy:before { content: "\e60c"; }

.trait-athletic:before { content: "\e60d"; }

.trait-vegetarian:before { content: "\e60e"; }

.trait-workaholic:before { content: "\e60f"; }

.trait-avant-garde:before { content: "\e610"; }

.trait-composer:before { content: "\e611"; }

.trait-concept-artist:before { content: "\e601"; }

.trait-foodie:before { content: "\e600"; }

.trait-ambitious:before { content: "\e612"; }

.trait-pianist:before { content: "\e602"; }

.trait-resolute:before { content: "\e614"; }

.trait-researcher:before { content: "\e615"; }

.trait-knowledgeable:before { content: "\e616"; }

.trait-skeptic:before { content: "\e617"; }

.trait-musician:before { content: "\e618"; }

.trait-animal-lover:before { content: "\e619"; }

.trait-gym-goer:before { content: "\e61a"; }

.trait-conversationalist:before { content: "\e61b"; }

.trait-gamer:before { content: "\e61c"; }

.trait-poet:before { content: "\e61d"; }

.trait-perfectionist:before { content: "\e61e"; }

.trait-computer-whiz:before { content: "\e61f"; }

.trait-Geek:before { content: "\e620"; }

.trait-cloud:before { content: "\e621"; }

.trait-bookworm:before { content: "\e622"; }

