<table id="blogposts" class="display" data-source="<%= admin_blog_path(format: "json") %>">
	<thead>
		<tr>
			<th width="180">Time</th>
			<th width="450">Title</th>
			<th width="180">User</th>
			<th width="150">Category</th>
			<th>Status</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>