<table id="deleted_project_comment" class="display" data-source="<%= admin_content_deleted_project_comment_path(format: "json") %>">
  <thead>
    <tr>
      <th width="450">Project Comment Excerpt</th>
      <th width="200">User</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>