<table id="deleted_project" class="display" data-source="<%= admin_content_deleted_project_path(format: "json") %>">
	<thead>
		<tr>
			<th width="450">Project Title</th>
			<th width="200">Creator</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>