<table id="pending_discussions" class="display" data-source="<%= admin_pending_discussions_path(format: "json") %>">
	<thead>
		<tr>
			<th width="450">Discussion Title</th>
			<th width="200">User</th>
			<th width="200">Realm</th>
			<th width="200">Subrealm</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>