<table id="pending_discussions" class="display" data-source="<%= admin_pending_patron_videos_path(format: "json") %>">
	<thead>
		<tr>
			<th width="450">User</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>