<table id="pending_subscriptions" class="display" data-source="<%= admin_pending_subscription_applications_path(format: "json") %>">
	<thead>
		<tr>
			<th>User</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>