<div>Please check if the discussion you are reviewing meets the following requirements:</div>
<div>1. The discussion must have a title</div>
<div style="padding-left: 30px;">(1). The title must be shorter than how it will be displayed on the user's activity feed. If not, reply: 
	<p><code>Sorry, your discussion title is too long, please change the title.</code></p></div>

<div style="padding-left: 30px;">(2). The title must reflect the topic of the discussion. If not, reply:<p><code>Sorry, your discussion title is irrelevant to the topic. Please change the title.</code></p></div>

<div style="padding-left: 30px;">(3). The title must not contain any explicit content. If so, reply:<p><code>Sorry, your discussion title is inappropriate.</code></p></div>

<div>2. The discussion must have tags to guide the users of its content. If not, reply:<p><code>Please add tags to further guide others to your discussion.</code></p></div>

<div>3. The discussion can't be too short. If so, reply:<p><code>Please write a longer discussion.</code></p></div>

<div>4. The discussion must be considered important and thought provoking. If you are not sure if a discussion meets the standards of Ratafire, consult a . If the discussion does not meet our standards, reply:<p><code>Please improve on your discussion's content.</code></p></div>

<div>5. The discussion must not contain any explicit content. If so, reply:<p><code>Sorry, your discussion is inappropriate.</code></p></div>

6. We encourage you to have imaginations and be interesting and polite when you are reviewing other's discussions. You can add your own comments to the review, but you must remain neutral.