<table id="staffpicks" class="display" data-source="<%= admin_content_path(format: "json") %>">
  <thead>
    <tr>
      <th>Project Name</th>
      <th>Creator</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>