<table id="staffpicks_majorposts" class="display" data-source="<%= admin_content_majorpost_path(format: "json") %>">
	<thead>
		<tr>
			<th width="450">Majorpost Title</th>
			<th width="200">User</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>