<table id="test_projects" class="display" data-source="<%= admin_test_projects_path(format: "json") %>">
  <thead>
    <tr>
      <th width="450">Project Title</th>
      <th width="200">Creator</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>