<table id="users" class="display" data-source="<%= admin_content_users_path(format: "json") %>">
	<thead>
		<tr>
			<th width="400">Name</th>
			<th width="200">Userame</th>
			<th width="200">Email</th>
			<th width="800">Tagline</th>
			<th>Proj</th>
			<th>Sub</th>
			<th>Subed</th>
			<th>Edit</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>