$("#friends-pagination").append("<div class='added-friends'><%= j render(:partial => 'profile/components/tab_friends', collection: @contacts, :as => :user)%></div>");
$('#friend-pagination-old').remove();
<% if @contacts.next_page %>
  $('.friends-pagination').append('<%= j will_paginate(@contacts) %>');
<% else %>
  $('.friends-pagination').remove();
<% end %>	
refreshUsercard('<%= j @popoverclass %>');
