										<% if @user.projects.any? %>
											<%= render @completedprojects %>
										<% end %>
									

									<!-- Load More -->
									<div id="Profile-page-load-more">
										<div class="textbox-mini">
											<%= will_paginate @completedprojects, :param_name => 'complete_p', class:"rata_pagination" %>	
										</div>
									</div>	