								<!-- Current Projects -->
								<div class="current-projects">

									<!-- Indicator -->
									<div class="textbox-mini">
										<li style="font-size: 1.4em;">Current Work Collections</li>
										<li class="counter">[<%= @currentprojects.count %>]</li>
									</div>
									
									<!-- Cutter --><ol style="margin-top: -2px;"></ol>

									<!-- Content -->
									<div id="current-projects">
										<%= render 'users/current_projects'%>
									</div><!-- end of current-projects ajax-->


								</div><!-- end.current-projects-->