										<% if @user.projects.any? %>
											<%= render @currentdiscussions %>
										<% else %>
											<%= render 'discussions/sample_discussion'%>
										<% end %>

																			<!-- Pagination -->
									<div id="Profile-page-load-more">
										<% if @currentprojects.count >3 %><!-- check if pagination exist-->
											<div class="textbox-mini">
											 	<span><%= will_paginate @currentdiscussions, :param_name => 'current_d', class:"rata_pagination non_ajaxify" %></span>
											
											</div>
										<% else%>
											<!-- Cutter --><ol style="margin-top: 40px;"></ol>
										<% end %>
										
									</div>	
