				      	<div class="lightbox2">
							

							<!-- Account Info-->
							<div class="textbox-mini">
							<h2>Cancel Account</h2>
							</div>
      					
      					<!-- end of lightbox2 -->
						</div>

						<ol style="margin-top: 15px; padding-left: 168px;">
							<% if current_user.id == 168 then %>
								Sorry, because you are Colin... you are not allowed to break my heart.
							<% else %>
									<%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class: "btn btn-medium btn-medium-white" %>
							<% end %>		
						</ol>