<!-- Page Title -->
<% provide(:title) %>

<!-- Page Content -->
<!DOCTYPE html>
<html >
	<body>
						<div class="textbox">
						
							<h1>Settings</h1>
							<h5>Edit your account settings.</h5>
							<!-- Cutter --><ol style="margin-top: -20px;"></ol>

						<!-- end of textbox-->
						</div>

						<%= render 'users/settings_username'%>
						<%= render 'users/settings_email'%>
						<%= render 'users/settings_password'%>
						<%= render 'users/settings_cancel_account'%>

	</body>
</html>