<% if @error == true %>
$('.error-messages').html('<div class="alert bg-danger"><button type="button" class="close" data-dismiss="alert"><span>&times;</span><span class="sr-only">Close</span></button><%= @user.errors.full_messages.to_sentence %></div>');
<% end %>