
.signup-ghost {
  position: absolute;
  left: -100%;
}

.signup-framed {
  position: absolute;
  top: 30%; left: 50%;
  width: 33rem;
  margin-left: -16.5rem;
}

.signup-form {
  margin-top: -4.5em;
  transition: 1s ease-in-out;
}

.signup-input {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.8rem;
  line-height: 3rem;
  width: 100%; height: 5rem !important;
  color: #666 !important;
  background-color: rgba(255,255,255,.7) !important;
  border: 0;
  margin-top:0px !important;
  margin-bottom: 0px !important;
  border-top: 1px solid rgba(255,255,255,0.3) !important;
  padding: 0 2rem !important;
  font-family: 'Open Sans', sans-serif;
}
.signup-input:focus {
    outline: none !important;
    background-color: rgba(255,255,255,.8) !important;
}
.signup-input--top {
    border-radius: 0.5rem 0.5rem 0 0;
    border-top: 0;
}
.signup-input--submit {
    background-color: rgba(54,184,223, 0.9) !important;
    color: #fff !important;
    cursor: pointer;
    border:0 !important;
    font-size:1.2em !important;
    border-radius: 0 0 0.5rem 0.5rem !important;
    margin-bottom: 1rem;
    font-family: "Open Sans";
    font-weight: 600;
}

.signup-input--submit:hover {
    background-color: rgba(35,175,217,1) !important;
}

.signup-text {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,0.8);
  text-decoration: none;
}
.signup-text--small {
    opacity: 0.85;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top:20px; 
}
.signup-text--small:hover {
  opacity: 1;
}
.signup-text--omega {
    width: 200%;
    margin: 0 0 1rem -50%;
    font-size: 1.5rem;
    line-height: 1.125;
    font-weight: normal;
}
.signup-text--centered {
    display: block;
    text-align: center;
}
.signup-text--border-right {
    border-right: 1px solid rgba(255,255,255,0.5);
    margin-right: 0.75rem;
    padding-right: 0.75rem;
}

.signup-legal{
  position: absolute;
  bottom: 1.125rem; left: 1.125rem;    
}

.signup-social-buttons{
  position: absolute;
  bottom: 1.125rem; right: 1.125rem;    
}

#toggle--signup:checked ~ .signup-form--login { top:200%; visibility:hidden; }
#toggle--login:checked ~ .signup-form--signup { top:-100%; visibility:hidden; }


