<!-- Page header -->
<div class="page-header">
	<div class="page-header-content text-center">
		<div class="page-title text-grey">
			<%= image_tag(@user.profilephoto.image.url(:thumbnail128),class:"img-circle mb-20")%>
			<h2 class="text-thin">Become a Creator</h2>
		</div>
	</div><!-- end .page-header-content-->
</div><!-- end .page-header-->