<div class="row">
	<div class="col-md-12" id="apply-panel">
		<% if @campaign.video %>
			<%= render partial: 'studio/campaigns/wizard_video_preview',:locals => {:video => @campaign.video, :campaign => @campaign } %>
		<% else %>
			<%= render partial: 'studio/campaigns/wizard_upload_video',:locals => { :user => @user, :campaign => @campaign } %>
		<% end %>
	</div>
</div>