				</div>
			</div>
			<div class="btn-group btn-group-justified">
				<div class="btn-group">
					<div class="btn btn-default" id="ratafirer-price-btn">
						$8 per month
					</div>
				</div>
			</div>
		</div>
	</div>
</div>