<div class="col-md-6 no-padding">
	<div class="panel text-thin cursor-pointer" id="ratafirer-price-panel">
		<div class="text-center">
			<%= image_tag('/assets/icon/flat_work/1.png', class:"mt-20")%>
			<div class="text-large mb-20" id="ratafirer-price-title">Ratafirer</div>
			<div class="tabel-responsive">
				<table class="table">
					<tbody>
						<tr class="active" >
							<td>
								<span>Up to 6-year project duration</span>
							</td>
						</tr>
						<tr>
							<td style="border-bottom:1px solid #ddd;">
								<span>Unlimited backers</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label>Project Duration</label>
				<div class="input-group">
					<span class="input-group-addon">
						Number of years
					</span>