<div class="col-md-6 no-padding pr-20">
	<div class="panel text-thin cursor-pointer" id="free-price-panel">
		<div class="text-center">
			<%= image_tag('/assets/icon/flat_work/2.png', class:"mt-20")%>
			<div class="text-large mb-20" id="free-price-title">Free</div>
			<div class="tabel-responsive">
				<table class="table">
					<tbody>
						<tr class="active" >
							<td>
								<span>90-day project duration</span>
							</td>
						</tr>
						<tr>
							<td style="border-bottom:1px solid #ddd;">
								<span>Up to 1,000 backers</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="panel-body">
			<div class="btn-group btn-group-justified">
				<div class="btn-group">
					<div class="btn btn-default" id="free-price-btn">
						Free
					</div>
				</div>
			</div>
		</div>
	</div>
</div>