//scroll to top
$("#campaign-wizard-header").velocity("scroll", {});
//refresh video
<% if @campaign.video %>
	$('#application-video-preview').remove();
	$('#apply-panel').prepend("<%= j render(:partial => 'studio/campaigns/wizard_video_preview', :locals => {:video => @campaign.video}) %>");
	initiate_videojs();  
<% end %>
$('#campaign-content-editor-edit').remove();
$('#campaign-content-holder-edit').append("<%= j render(:partial => 'studio/campaigns/update_content', locals: {user: @user, campaign: @campaign}) %>");
$('#reward-currency').append("<%= currency_signs(@campaign.currency) %>");
$('.input-group-addon').html('$');
$('.save-button').click(function(){
    //submit form
    $("#campaign-wizard").trigger('submit.rails');
});     
//Submit form for add paypal
$('#add-paypal-account').click(function(){
    //submit form
    $("#campaign-wizard").trigger('submit.rails');
}); 
<% if @paypal_account %>
	$('#input-paypal-holder').hide();
	$('#connect-to-paypal').hide();
	$('#paypal-update').show();
	$('#paypal-update').html('<div class="col-lg-9" id="added-paypal-holder"><%= @paypal_account.email %></div>');
	$('#connected-to-paypal').show();
<% else %>
	$('#connected-to-paypal').hide();
	$('#connect-to-paypal').show();
<% end %>