<!-- Video Successbox-->
<% if video.project_id != nil %>
								<!-- Video Success-Box-->
								<div id="video-success-box" style="height:80px;">
									<div class="video-upload-words">
									<span>Upload successful! Your Video is now encoding.</span>
									<ul>It may take 10-25 minutes before it is ready.</ul>
									</div>
								</div>
<% end %>
<script>
$(document).ready(function(){
	$("#video-progress-box").hide();
});	
</script>