					<!-- Full Name -->
					<!-- normal: profile-name-->
					<div class="profile-name-background" id="profile-name-background">
							<!-- Project Header Social -->
						<h1><%= link_to @user.fullname, @user %></h1>
						<ul style="margin-top: -8px;">
								<!-- Show Tagline if there is a-->
									<h5>@<%= @user.username %> :: 
										<% if @user == current_user %>
											<%= best_in_place @user, :tagline, :classes =>"best_user_tagline" %> <span class="btn btn-edit" id="best_user_tagline-edit" style="display:none;"></span>
										<% else %>
											<%= @user.tagline %>
										<% end %>
									</h5>
							
						</ul>
					</div>
					
			<script>
				//Best_in_place in place editing & hover
               $('.best_user_tagline').hover(function() {
                  $("#best_user_tagline-edit").toggle();
                });
			</script>
