<!-- Tabs Nav -->
<div class="tab">
	<%= link_to "Updates", user_path(@user) , style:"margin-left:0px;", class: "tab tab-size tab-content tab-right-shadow"%>
	<%= link_to "Contributions", projects_path, class: "tab tab-size tab-content-current "%>
</div>