<!-- Tabs Nav -->
<div class="tab">
	<% if @user.subscribers.count >1 %>
		<%= link_to "Supporters", supporters_path(@user) , style:"margin-left:0px;", class: "tab tab-size tab-content"%>
	<% else %>
		<%= link_to "Supporter", supporters_path(@user) , style:"margin-left:0px;", class: "tab tab-size tab-content"%>
	<% end %>	
	<%= link_to "Supporting", supporting_path(@user) , class: "tab tab-size tab-content-current tab-left-shadow"%>
</div>