<!-- Tabs Nav -->
<div class="tab">
	<%= link_to "About", user_path , style:"margin-left:0px;", class: "tab tab-size tab-content-current tab-right-shadow"%>
	<%= link_to "Projects", projects_path , class: "tab tab-size tab-content"%>
</div>