<!-- Tabs Nav -->
<div class="tab">
	<% if @user.subscribers.count >1 %>
		<%= link_to "Patrons", subscribers_path(@user) , style:"margin-left:0px;", class: "tab tab-size tab-content no_ajaxify"%>
	<% else %>
		<%= link_to "Patron", subscribers_path(@user) , style:"margin-left:0px;", class: "tab tab-size tab-content no_ajaxify"%>
	<% end %>	
	<%= link_to "Patron of", subscribing_path(@user) , class: "tab tab-size tab-content-current tab-left-shadow no_ajaxify"%>
</div>