<!-- Tabs Nav -->
<div class="tab">
		<%= link_to "Updates", user_update_feed_path(@user), style:"margin-left:0px;", class: "tab tab-size tab-content tab-right-shadow"%>
		<%= link_to "Subscription",  why_path(@user) , class: "tab tab-size tab-content-current no_ajaxify"%>
		<%= link_to "Contributions", projects_path , class: "tab tab-size tab-content no_ajaxify"%>
</div>