<!-- Tabs Nav -->
<div class="tab">
		<%= link_to "About", why_path(@user) , style:"margin-left:0px;", class: "tab tab-size tab-content"%>
		<%= link_to "Subscribe", subscribe_path(@user,"false") , class: "tab tab-size tab-content-current tab-left-shadow"%>
</div>