<!--~~~~~~~~~~~~~~~~~~~~~~~~ Javascript ~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Editor ~~~~~~~~~~~~~~~~~~~~~~~~-->

<div id="compose-holder">
	<!-- Overlay-->
	<div class="message-overlay"></div>
	<!-- Editor -->
	<div class="compose-content-width">
		<%= form_tag 'compose_message', class:"no_ajaxify" do %>

			<div class="message-content-area">
			<!-- Recipient -->
			<div class="message-recipient">
				New Message to Ratatoskr

			</div>			
			<div class="message-turn-off">x</div>		
				<div class="majorpost-title-input">
					<div class="majorpost-title-indicator compose-title-indicator">
						<li></li>
					</div>	
					<ul>
						<%= text_field_tag 'title', nil, class:"majorpost-title-input-holder input_majorpost compose-title-input"%>
					</ul>	
				</div>		
				<div class="compose-content-editor">
					<%= text_area_tag 'content', nil, id:"redactor_messaging"%>
				</div>
			</div>
			<!-- Send -->
			<div class="message-send-button-holder">
				<%= submit_tag 'Send', class:"btn-submit no_ajaxify btn btn-small btn-small-blue btn-submit-small"%>
			</div>	
		<% end %><!-- end. form_tag-->
	</div><!-- end.compose-content-width-->	
</div>	