<div class="row p-20 m-5">
	<div class="col-md-5">
		<span class="bg-grey-100 pl-5 pr-5"><%= transfer.uuid %></span>
	</div>
	<div class="col-md-5">
		<%= transfer.created_at.strftime('%Y/%m/%d')%>
	</div>
	<div class="col-md-2">
		<%= number_to_currency(transfer.amount, unit: currency_signs(transfer.currency)) %>
	</div>
</div>