<!--~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~-->
<!-- Page Title -->
<% provide(:title, @user.preferred_name) %>
<!-- Page Specific JS -->
<!--~~~~~~~~~~~~~~~~~ Page Content ~~~~~~~~~~~~~~~~~-->
<div class="panel panel-blue bg-white-transparent">
	<div class="panel-heading">
		<h6 class="panel-title text-thin"><i class="huaxia huaxia-fukuanxuanzhong mr-10"></i><%= t 'views.creator_studio.menu.how_i_get_paid'%></h6>
		<div class="heading-elements">
    	</div>
	</div>
	<div class="panel-body" id="add-bank-account-panel-body">
		<% if @user.bank_account %>
			<%= render partial: "studio/wallets/bank_account", locals: {user: @user, bank_account: @bank_account} %>
		<% else %>
			<%= render partial: "studio/wallets/add_bank_account", locals: {user: @user, bank_account: @bank_account} %>
		<% end %>
	</div>
</div>

