<!--~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~-->
<!-- Page Title -->
<% provide(:title, @user.preferred_name) %>
<!-- Page Specific JS -->
<!--~~~~~~~~~~~~~~~~~ Page Content ~~~~~~~~~~~~~~~~~-->
<div class="panel panel-blue bg-white-transparent">
	<div class="panel-heading">
		<h6 class="panel-title text-thin"><i class="icon-credit-card mr-10"></i><%= t 'views.creator_studio.menu.how_i_pay'%></h6>
		<div class="heading-elements">
    	</div>
	</div>
	<div class="panel-body" id="add-card-panel-body">
		<% if @user.card %>
			<%= render partial: "studio/wallets/card", locals: {user: @user, card: @card} %>
		<% else %>
			<%= render partial: "studio/wallets/add_card", locals: {user: @user, card: @card} %>
		<% end %>
	</div>
</div>

