<!--~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~-->
<!-- Page Title -->
<% provide(:title, @user.preferred_name) %>
<!-- Page Specific JS -->
<!--~~~~~~~~~~~~~~~~~ Page Content ~~~~~~~~~~~~~~~~~-->
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-blue bg-white-transparent">
			<div class="panel-heading">
				<h6 class="panel-title text-thin"><i class="ti-receipt mr-10"></i><%= t 'views.creator_studio.transfer.transfers'%></h6>
				<div class="heading-elements">
		    	</div>
			</div>
			<div class="panel-body" id="transactions-panel-body">
				<div id="transactions-pagination">
					<%= render partial: "studio/wallets/transfer", collection: @transfers, :as => :transfer %>
				</div>
				<div class="transactions-pagination">
					<div id="transactions-pagination-old">
						<%= will_paginate(@transfers) %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>