<table id="applied_users" class="display" data-source="<%= admin_applied_users_path(format: "json") %>">
  <thead>
    <tr>
      <th width="20">❤</th>
      <th width="600">Name</th>
      <th>Userame</th>
      <th>Email</th>
      <th>Website</th>
      <th>Realm</th>
      <th>Ago</th>
      <th>Action</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>


