<table id="ignored_users" class="display" data-source="<%= admin_ignored_users_path(format: "json") %>">
  <thead>
    <tr>
      <th width="20">❤</th>
      <th width="200">Name</th>
      <th width="200">Userame</th>
      <th>Email</th>
      <th>Website</th>
      <th>Realm</th>
      <th>Ago</th>
      <th>Action</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
