<!--~~~~~~~~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<!-- Page Title -->
	<% provide(:title, "Admin") %>

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Sidebar ~~~~~~~~~~~~~~~~~~~~~~~~-->	

	<% content_for(:side_bar) do %>
    	<%= render 'layouts/sidebar_admin' %>
	<% end %>
		
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Page Contents ~~~~~~~~~~~~~~~~~~~~~~~~-->

			<!-- Main Content -->
			<div class="main-content">
				<div class="standard-content" >
						<div class="textbox">
						
							<h1>Beta Users</h1>
							<h5>View and approve beta users.</h5>
							<!-- Cutter --><ol style="margin-top: -20px;"></ol>

						<!-- end of textbox-->
						</div>						
	
						<!-- Realm Balance -->
						<div class="lightbox2-bordered">
							<div class="textbox-mini">

								<div>Music: <%= %></div>

							</div><!-- end.textbox-mini-->
						</div><!-- end.lightbox2-bordered-->								


						</div><!-- Footer -->
				<%= render 'layouts/footer' %>

			</div><!-- end of main-content-->