<!-- Flag for completion -->
<div class="flag-holder">
	<div class="textbox-mini">
		<ul>Congratulations <%= current_user.fullname %>! You have completed this project.</ul>
		<ul>The project is now archiving, which may take 10-30 minutes.</ul>
		<ul>When it is done, you can edit and post on this project again.</ul>
	</div>
</div>