	<div class="lightbox4" style="border: 0px solid #ddd;background-color:#f9f9f9; border-radius:5px;padding-bottom:15px;min-height:0px;">
		<div class="textbox-mini" >
				<%= simple_format(object.collectible_50) %>	
		</div><!-- end.project-to-subscribers-holder-->
	</div><!-- end .project-to-subscribers-holder-->	