

<div class="post-content" id="pdf-preview" style="margin-top:15px;height:1053px;background-image:url(<%= @pdf.pdf.url(:preview)%>);background-size: 100%;">

			<div id="pdf-control-bar" >
				<%= @pdf.pdf_file_name %>
			</div>


</div>	

			<div class="pdf-download-holder">
				<%= link_to '', pdf_download_path(@project.creator,@project,@pdf), :id => @pdf.id, class:"artwork-download no_ajaxify tipsy-tipsy",title:"Download" %>
			</div>	



