

<script type='text/javascript'>

  function embedPDF(){

    var myPDF = new PDFObject({ 

      url: 'http://petrucci.mus.auth.gr/imglnks/usimg/8/8f/IMSLP05819-Bach_-_BGA_-_BWV_690a-713a.pdf'

    }).embed('pdf-embed'); 
    // Be sure your document contains an element with the ID 'pdf-embed' 

  }

  window.onload = embedPDF; //Feel free to replace window.onload if needed.

</script>

<div class="post-content" id="pdf-embed" style="margin-top:15px;height:1052px;">

</div>	