<% if @level_xp_subscriber %>
	var xp = noty({
		layout: 'center',
	    template: '<div class="text-center"><div class="btn bg-rainbow-600 noty_text text-medium text-thin"></div></div>',	
		text: 'XP <%= number_with_delimiter(@level_xp_subscriber.get_backer)%>',
		addClass: 'noty-xp',
		timeout: 800,
		animation: {
			open: 'animated zoomInUp',
			close: 'animated fadeOutUp',
			easing: 'swing',
			speed: 500
		}
	});
<% end %>
<% if @levelup_subscriber %>
	var levelup = noty({
		layout: 'center',
	    template: '<div class="text-center"><div class="btn bg-rainbow-600 noty_text text-giant text-thin pl-20 pr-20 pt-10 pb-10"></div></div>',	
		text: '<%= t "views.game.level" %> <%= @subscriber.level %>',
		addClass: 'noty-xp',
		timeout: 2000,
		animation: {
			open: 'animated zoomInUp',
			close: 'animated fadeOutUp',
			easing: 'swing',
			speed: 500
		}
	});
<% end %>
$(window.location.replace("/<%= @subscribed.username %>"));