<%= link_to user_user_content_likes_path(current_user.id, user.id), remote: true,method: :get, id:user.uid+'-user-like' do %>
    <div class="center-block btn btn-float btn-rounded btn-float-lg btn-flat">
        <i class="huaxia huaxia-guanzhu text-danger inline-block animated rubberBand"></i>
    </div>
<% end %>