<div class="lightbox2 post-content-c" style="margin-top:0px;">

		<div class="project-to-subscribers-holder" style="padding-top:20px;">
			<table class="display">
				<thead>
					<tr>
						<th width="180">Venmo</th>
						<th width="370"><%= @user.venmo.username %></th>
						<th><%= link_to disconnect_path(@user,:venmo), class:"no_ajaxify" do %><div class="btn btn-small btn-small-green">Delete</div><% end %></th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		
</div>	