<!-- Has recipient -->
<% if @user.paypal_account != nil then %>
	<div class="lightbox4" style="border: 0px solid #ddd;background-color:#f9f9f9; border-radius:5px;padding-top:20px;padding-bottom:27px;min-height:10px;">
		<table class="display">
			<thead>
				<tr>
					<th width="180">PayPal</th>
					<th width="382"><%= @user.paypal_account.email %></th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>			
<% end %>