		<div class="lightbox2-bordered">
			<div class="textbox-mini">
				<h2>How I Get Paid</h2>
				<%= image_tag("hint_to_subscribe.png", height: '130')%>
				<p>Allow others to become your patrons. With their support, you can continue your research or art work collections. </p>
				<%= link_to goals_subscription_path(@user.id), class:"no_ajaxify" do %><div class="btn btn-medium2 btn-medium-green" style="margin-top:10px;">Accept Patrons</div><% end %>
			</div><!-- end.textbox-mini-->
		</div><!-- end.lightbox2-bordered-->