<table id="paying_transactions" class="display" data-source="<%= paying_transactions_path(@user,format: "json") %>" style="text-align:center;">
  <thead>
    <tr>
      <th width="160">Date</th>
      <th width="450">To</th>
      <th width="100">Status</th>
      <th width="100">Amount</th>
      <th width="100">Amazon</th>
      <th width="100">Ratafire</th>
      <th width="160">User Receives</th>
      <th width="80"></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>