<table id="receiving_transactions" class="display" data-source="<%= receiving_transactions_path(@user,format: "json") %>" style="text-align:center;">
  <thead>
    <tr>
      <th width="160">Date</th>
      <th width="450">From</th>
      <th width="100">Status</th>
      <th width="100">Amount</th>
      <th width="100">Amazon</th>
      <th width="100">Ratafire</th>
      <th width="160">You Receive</th>
      <th width="80"></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>