		<div class="lightbox2-bordered">
			<div class="textbox-mini">
				<h2>Subscription Setup Submitted</h2>
				<%= image_tag("betabg_no_leaf.png", height: '200')%>
				<p>We are reviewing your application now. We will inform you the result in two business days. After your application is approved, you can start accepting subscription immediately. </p>
				<%= link_to pending_subscription_path(@user.id, @user.subscription_application[0].id), class:"no_ajaxify" do %><div class="btn btn-medium2 btn-medium-blue" style="margin-top:10px;">Thank You Page</div><% end %>
			</div><!-- end.textbox-mini-->
		</div><!-- end.lightbox2-bordered-->