<%= form_for [@user,@subscription], :url => with_card_subscribe_path(@user),:html => {:class => 'no_ajaxify',:id => "subscrption-form"} do |f| %>
	<%= f.hidden_field :subscriber_id, :value => @current_user.id %>
	<%= f.hidden_field :subscribed_id, :value => @user.id %>
	<%= f.hidden_field :amount, id:"submit-amount" %><!-- working-->
<% end %>

<div style="margin: 0 40px 40px 0; text-align:right;">
  <div class="btn btn-medium2 btn-medium-blue no_ajaxify" id="customButton">
    Confirm and Pay
  </div>  
</div>    

<script>
$('#customButton').on('click', function() {
		$("#subscrption-form").submit();
  	});
</script>