<!--~~~~~~~~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<!-- Page Title -->
	<% provide(:title, "Challenges") %>

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Additional Background Slot ~~~~~~~~~~~~~~~~~~~~~~~~-->
<html style="background: url(/assets/backgrounds/milky_way.jpg) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	   -o-background-size: cover;
	  background-size: cover;">
<div class="home-overlay"></div>

	<div class="wrapper-main">	
		<div class="center" style="margin: 0 auto;width:1089px;position:absolute;">
			<div style="margin-top:-20px;"><%= image_tag("ratafire_white.png", alt: "Ratafire") %></div>
				<!-- Home Page Comment -->
				<div id="Home-page-comment">

					<h2 style="color:rgba(256,256,256,0.8);" >
						<span style="background-color:rgba(0,0,0,0.2);padding:2px 7px 2px 7px;border-radius:5px;">Challenges</span>
					</h2>
					<div style="color:rgba(256,256,256,0.3);"> <div class="loader2"></div> Coming Soon</div>
				</div>	


		</div>	
	</div><!-- end.wrapper-main-->	


</html>