<script id="template-upload-<%= name %>" type="text/x-tmpl">
	<div id="<%= name %>-progress-box">
		<div style="bottom:0;" class="ml-5 mb-5 center-block position-absolute text-white text-thin text-italic" id="progress-words">Uploading...meow</div>
		<div class="fundo bar-<%= name %>" style="width: 0%; background: url('/assets/default/progress_bar/upload<%= rand(1..1)%>.jpg') 50% 50%; ">
	</div>
</script>