<!-- Artwork Successbox-->
<% if pdf.project_id != nil %>
<div id="video-success-box" style="height:80px;">
	<div class="video-upload-words">
		<span>Upload Successful</span>
		<ul>We have your PDF!</ul>
	</div>
</div>
<% end %>


<script>
	$(document).ready(function(){
		$("#pdf-progress-box").hide();
	});	
</script>