<div id="embedded-video-display" style="width:900px;">
<div class="video-display" >	
	<iframe width="790" height="444.375" scrolling="no" frameborder="0" src="<%= @audio_embed %>"></iframe>
</div>	
</div>