<div class="panel panel-default panel-default">
	<div class="panel-heading p-20 text-grey text-thin">
		<h4 class="panel-title"><%= t 'views.profile.settings.language_settings.language' %></h4>
		<span><%= t 'views.profile.settings.language_settings.language_tagline' %></span>
		<div class="heading-elements">
			<%= render partial:'utilities/language/language_btn', locals: {switcher_type: 'down'}%> 
		</div>
	</div>
</div>