<!--~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~-->
<!-- Page Title -->
<% provide(:title, @user.preferred_name) %>
<!-- Page Specific JS -->
<%= javascript_include_tag 'page_specific/settings', 'data-turbolinks-track' => "reload"  %>

<!--~~~~~~~~~~~~~~~~~ Page Content ~~~~~~~~~~~~~~~~~-->
<!-- Content Area -->
<div class="content">
	<!-- Page header -->
	<div class="page-header">
		<!-- Page title -->
		<div class="page-header-content">
			<div class="page-title text-grey">
				<h2 class="text-thin">Settings</h2>
			</div>
		</div><!-- end .page-header-content-->

		<!-- Tabs -->
		<div class="tabbable pl-20 pr-20">
			<!-- Nav tabs-->
			<ul class="nav nav-tabs nav-tabs-bottom">
				<li class="active"><%= link_to "Profile",profile_settings_user_profile_settings_path(@user.username) %></li>
				<li ><%= link_to "Social Media",social_media_settings_user_profile_settings_path(@user.username) %></li>
				<li><a href="#bordered-tab2" data-toggle="tab">Security & Privacy</a></li>
				<li><a href="#bordered-tab2" data-toggle="tab">Email Notifications</a></li>
			</ul><!-- end .nav-->

			<!-- Tab content -->
			<div class="tab-content">
				<!-- Profile Settings -->
				<div class="tab-pane active" id="profile">
					<div class="panel panel-default panel-default">
						<div class="panel-heading p-20 text-grey text-thin">
							<h4 class="panel-title">Profile Settings</h4>
							<span>Update your preferred name, bio, location...</span>
						</div>
						<div class="panel-body">
							<%= render partial: "profile/settings/form_profile", locals: {user: @user} %>
						</div>
					</div>
				</div>
				<!-- Social Media Connections -->			
			</div><!-- end .tab-content-->

		</div><!-- end .tabbable-->
	</div><!-- end .page-header-->
</div><!-- end .content-->