<!--~~~~~~~~~~~~~~~~~~~~~~~~ Facebook Open Graph ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<% content_for :head do %>
		<%= tag :meta, property: "og:type", content: "website" %>
		<%= tag :meta, property: "og:title", content: "Ratafire" %>
		<%= tag :meta, property: "og:description", content: "Be a part of the future of research and art." %>
		<a style="display:none;"href="https://plus.google.com/108376636120204861351" rel="publisher">Google+</a>
	<% end %>

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Font ~~~~~~~~~~~~~~~~~~~~~~~~-->	
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Page Contents ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<div class="screen">
		<div class="mobile-menu">
			<ul class="mobile-ulMenu">
				<li><a href="javascript:menu('1');" ><i class="fa fa-home"></i><span>Home</span></a></li>
				<li><a href="javascript:menu('2');"><i class="fa fa-info"></i><span>About Us</span></a></li>
				<li><a href="javascript:menu('3');"><i class="fa fa-file-text-o"></i><span>Blog</span></a></li>
				<li><a href="javascript:menu('4');"><i class="fa fa-picture-o"></i><span>Gallery</span></a></li>
				<li><a href="javascript:menu('5');"><i class="fa fa-map-marker"></i><span>Contact</span></a></li>
			</ul>
		</div><!-- class .menu -->
		<div class="mobile-content tipsy-tipsy" title="Hello" id="mobile-content">
			<div id="body">
				<div class="mobile-headerBack">
					<div id="mobile-header">
						<a class="button" id="header-botton-mobile" href="#"><div class="btn"><i class="fa fa-reorder"></i></div></a>
						<h1 class="sectionTitle"></h1>
						<a id="location" style="display:none;" href="javascript:alert('Button only')">
							<div class="location"><i id="posIcon" class="fa fa-location-arrow"></i></div>
						</a>
					</div>
				</div>
				<div id="wrapper">
					<div class="scroller">
						<div id="sectionContent"></div>
					</div>
 create mode 100644 tmp/cache/assets/C84/D30/sprockets%2F71d8c4f1083917c35006513eb9b8936d
 create mode 100644 tmp/cache/assets/C90/4F0/sprockets%2F6927af9190bf48729939035c2e351df2
 create mode 100644 tmp/cache/assets/CAE/300/sprockets%2F0449051fb852d5df677102906f71b4af
 create mode 100644 tmp/cache/assets/CAF/390/sprockets%2F7d5ef51c40323fd13f176c707392791a
 create mode 100644 tmp/cache/assets/CDF/870/sprockets%2Fb878faf942403e313a5b103e5d80488e
 create mode 100644 tmp/cache/assets/D05/D40/sprockets%2F1c9faaf28d05409b88ad3113374d613c
 create mode 100644 tmp/cache/assets/D39/AD0/sprockets%2F3a04499d3e714b9540fdd0be441c48db
 create mode 100644 tmp/cache/assets/D72/220/sprockets%2F247fed8018626ebfe37d7c422bc513fe
 create mode 100644 tmp/cache/assets/D87/9A0/sprockets%2Fb1d8b120810895fabfbf51f22ba3f1d0
 create mode 100644 tmp/cache/assets/DB4/9E0/sprockets%2F156cf458e668926b99bf4feac1ad9da5
 create mode 100644 tmp/cache/assets/DFB/870/sprockets%2Fbf1793a425d50adafabc9aea5c6996e1
 create mode 100644 tmp/cache/assets/E12/7C0/sprockets%2F6df9177e8ece3c7acad954d3ec71eb86
				</div><!-- end #wrapper-->
			</div>
		</div><!-- class .content -->
	</div><!-- end .screen -->
