<!--~~~~~~~~~~~~~~~~~~~~~~~~ Facebook Open Graph ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<% content_for :head do %>
		<%= tag :meta, property: "og:type", content: "website" %>
		<%= tag :meta, property: "og:title", content: "Ratafire" %>
		<%= tag :meta, property: "og:description", content: "Be a part of the future of research and art." %>
		<a style="display:none;"href="https://plus.google.com/108376636120204861351" rel="publisher">Google+</a>
	<% end %>

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Font ~~~~~~~~~~~~~~~~~~~~~~~~-->	
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Page Contents ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<div class="screen">
		<div class="menu">
			<ul class="ulMenu">
				<li><a href="javascript:menu('1');" ><i class="fa fa-home"></i><span>Home</span></a></li>
				<li><a href="javascript:menu('2');"><i class="fa fa-info"></i><span>About Us</span></a></li>
				<li><a href="javascript:menu('3');"><i class="fa fa-file-text-o"></i><span>Blog</span></a></li>
				<li><a href="javascript:menu('4');"><i class="fa fa-picture-o"></i><span>Gallery</span></a></li>
				<li><a href="javascript:menu('5');"><i class="fa fa-map-marker"></i><span>Contact</span></a></li>
			</ul>
		</div><!-- class .menu -->
		<div class="content tipsy-tipsy" title="Hello" id="mobile-content">
			<div id="body">
				<div class="headerBack">
					<div id="header" class="borderRadius">
						<a class="button" id="header-botton-mobile" href="#"><div class="btn"><i class="fa fa-reorder"></i></div></a>
						<h1 class="sectionTitle"></h1>
						<a id="location" style="display:none;" href="javascript:alert('Button only')">
							<div class="location"><i id="posIcon" class="fa fa-location-arrow"></i></div>
						</a>
					</div>
				</div>
				<div id="wrapper">
					<div class="scroller">
						<div id="sectionContent"></div>
					</div>
				</div>
			</div>
		</div><!-- class .content -->
	</div><!-- end .screen -->

