<!--~~~~~~~~~~~~~~~~~~~~~~~~ Facebook Open Graph ~~~~~~~~~~~~~~~~~~~~~~~~-->

	<% content_for :head do %>
		<%= tag :meta, property: "og:type", content: "website" %>
		<%= tag :meta, property: "og:title", content: "Ratafire" %>
		<%= tag :meta, property: "og:description", content: "Be a part of the future of research and art." %>
		<a style="display:none;"href="https://plus.google.com/108376636120204861351" rel="publisher">Google+</a>
	<% end %>

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Font ~~~~~~~~~~~~~~~~~~~~~~~~-->	
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Page Contents ~~~~~~~~~~~~~~~~~~~~~~~~-->
<script type="text/javascript">
$(document).ready(function() {
var myScroll = new IScroll('.mobile-wrapper');
}
</script>
<meta name="viewport" content="user-scalable=0, initial-scale=1.0, width=device-width">
	<div class="screen">
		<div class="mobile-menu">
			<ul class="mobile-ulMenu">
				<li><a><i class="fa fa-search"></i><span>Explore</span></a></li>
				<li><a><i class="fa fa-user"></i><span>Profile</span></a></li>
				<li><a><i class="fa fa-star"></i><span>Subscribing</span></a></li>
				<li><a><i class="fa fa-tags"></i><span>Followed Tags</span></a></li>
				<li><a><i class="fa fa-eye"></i><span>Watching</span></a></li>
				<li><a><i class="fa fa-retweet"></i><span>Recs</span></a></li>
			</ul>
		</div><!-- class .menu -->
		<div class="mobile-content tipsy-tipsy" title="Hello" id="mobile-content">
			<div id="body">
				<div class="mobile-headerBack">
					<div id="mobile-header">
						<a class="button" id="header-botton-mobile" href="#"><div class="btn"></div></a>
						<div class="ratafire-logo-mobile"></div>	
					</div><!-- class#mobile-header-->
				</div>
				<div class="mobile-wrapper">
					<div class="scroller">
						<div id="sectionContent">
							<!-- Info -->
							<div class="box whiteBackground"><p class="titleBox"><i class="fa fa-info"></i>Our Mobile Site is Under Construction</p><hr>
								To start using Ratafire, please visit our full site with a desktop for now. Our desktop site is fully functional! 
							</div>


						</div><!-- class .sectioncontent-->
					</div><!-- class .scroller-->
				</div>
			</div><!-- end #wrapper-->
		</div><!-- class .content -->
	</div><!-- end .screen -->

<script type="text/javascript" src="/assets/iscroll.js"></script>

