<!-- Hover JS-->
<script>
$(document).ready(function(){

$('.artwork-download').hover(function() {

    $('#artwork-control-bar').toggle("fade");
});

$('#eye').click(function() {

    $('#artwork-toggle').toggle();
});

});
</script>

<!-- Artwork Display Small -->

<div class="artwork-video">

	<div class="artwork-video-download">
		<%= link_to '', user_project_artwork_path(@project.creator,@project,@artwork), :id => @artwork.id, class:"artwork-download tipsy-tipsy", title:"Download"%>
	</div>
	<div id="eye" class="tipsy-tipsy" title="View">

	</div>

	Artwork: has original file <%= @artwork.image_file_name %>

</div>

<!-- Cutter --><ol style="margin-top:15px;"></ol>

<!-- Artwork Display -->

	<div id="artwork-toggle" style="display:none;">
			<!-- if current user has the right to delete artwork -->
		<%= image_tag(@artwork.image.url(:preview), class: "non-wrap artwork-video-display")%>
		<!-- Cutter --><ol style="margin-top:45px;"></ol>
	</div>
