<!-- Fullscreen -->
<div class="fullscreen_mode">
	<div class="fullscreen-wrapper">
		<!-- project title -->
		<div class="fullscreen-title">
			<%= @project.title %>
		</div>
			
		<!-- Author -->
		<div class="fullscreen-author">
			<% if @project.users.count == 1 %>
				<!-- If there is only one contributor show author -->
				<%= link_to @project.creator.fullname , @project.creator, class:"no_ajaxify" %>
			<% end %>
		</div>

		<!-- fullscreen-case will hide when refresh with ajax -->	
		<div class="fullscreen-ajax">
			<!-- fullscreen exit -->
			<div id="exit1" class="tipsy-tipsy fullscreen-exit" title="Leave"></div>
			<%= render "archives/fullscreen_case"%>

		</div>	
		<div id="exit2" class="tipsy-tipsy fullscreen-exit" title="Leave"></div>
		<script>
				$('.fullscreen-exit').click(function(){
					$('.fullscreen_mode').hide();
					$('.hide-when-fullscreen').show();
				});
		</script>
	</div><!--end:fullscreen-wrapper -->
</div><!--end:fullsreen-mode -->