				<!-- Video -->
				<div id="video-case">

					<!-- If there is no video, show the upload -->
					<% if @project.video_id != "" && @project.video_id != nil %>

					<script type="text/javascript">

        				$(document).ready(function() {

              				//hide artwork upload and show artwork
              				$("#video-upload-case").hide();
              				$('#has-video-case').show();
                    
        				});
					</script>

					<div id="has-video-case">
						<%= render 'projects/project_videoplayer' %>

					</div><!-- end:#has-video-case -->

					<% end %><!-- if video is not nil -->



				<div id="video-upload-case">
					<div id="comment-input2" style="margin: 0px 0 8px 0;">

						<!-- Video Upload Title -->
						<div class="majorpost-user-inspirer-tite">	
							<li>Project Video</li>
						</div>

							<!-- Upload-->
							<div class="majorpost-user-inspirer-indicator">Upload</div>
							<div class="video-upload-box-holder">
								<!-- Video Upload-box -->
								<div id="video-upload-box">
									<div class="video-upload-words artwork-button fileinput-button" id="video-drop">

										<span>Click to choose a video file</span>
										<ul>Maximum size: 2GB. Recommanded resolution: 1080p.</ul>
										<!-- fields for video -->
										<%= s3_uploader_form callback_url: create_project_video_path(current_user,@project),
  											id: "s3_uploader_video",
											callback_param: "video[direct_upload_url]",
											expiration: 24.hours.from_now.utc.iso8601,
											max_file_size: 2048.megabytes,:remote => true do %>
											<%= file_field_tag :file, multiple: false, class:"artwork-choose" %>		
										<% end %>		

									</div><!-- end.video-upload-words-->
								</div><!--end.video-upload-box -->

								<!-- Video Progress-box-->
								<div id="video-progress-case"></div><!-- end. Video Progress-box-->
									<script id="template-upload-video" type="text/x-tmpl">
										<div id="video-progress-box">
											<div class="video-progress">
												<div id="progress-bar-artwork" class='bar-video' style="width: 0%">
													<div class="video-progress-words">
														<ul>Uploading video...</ul>
													</div>
												</div>
											</div>
										</div>
									</script>
								
								
								<div id="videodata"></div>
						</div><!-- end videoupload box holder-->
					</div><!-- end comment input-->
				</div><!-- end:#video-upload-case -->
			</div><!-- end of video-case -->