<%= link_to content_majorpost_read_more_path(majorpost),remote: true do %>
	<div class="ml-20 btn btn-xs bg-grey-100 btn-rounded"><img src="/assets/icon/by_layer_lab/gem.png" class="mr-5 ml-10- mt-5- mb-5-"><%= t 'views.utilities.menu.insert_keystone_to_read_all'%></div>
<% end %>