	<%= link_to user, class:"no_ajaxify" do %>
		<div class="supporter-image  tipsy-tipsy" title="<%=user.fullname%>" style="background-image:url(<%= user.profilephoto.url(:tiny)%>);">	
		</div>
	<% end %>													
