<!--~~~~~~~~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!-- Page Title -->
	<% provide(:title, "Organizations") %>

<!--~~~~~~~~~~~~~~~~~~~~~~~~ Facebook Open Graph ~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Javascript ~~~~~~~~~~~~~~~~~~~~~~~~-->
<script type="text/javascript">
//Google Analytics Event Tracking
$(document).ready(function() {
	$(window).scroll(function() {
  		var oVal;
  		oVal = $(window).scrollTop() / 100;
  		return $(".organization-background-blur").css("opacity", oVal);
	});
});	

</script>
<!--~~~~~~~~~~~~~~~~~~~~~~~~ Main ~~~~~~~~~~~~~~~~~~~~~~~~-->
<% content_for :additional_background do %>
	<div class="organization-background">
	</div>	
	<div class="organization-background-blur">
	</div>	
<% end %>
<div class="wrapper-main">		
	<div class="organization-logo">
	</div>			
	<div class="organization-content">
		<div class="organization-post-content" style="margin-top:0px;">
			<h2>Ratafire Organizations</h2>
			<p>You can create an organization, invite your friends, and allow patrons to support the organization on Ratafire.</p>
			<h2>Requirements</h2>
			<p>Please read before you proceed.</p>
			<p>Ratafire is a community focus on friendship between real people. Therefore, setting up individual funding is recommended above organization funding.</p>
			<p>Currently, Ratafire only accepts organizations that requires an inevitable regular formation to make art or do research continuously, such as an orchestra.</p>
			<p>If you have a group project, please start a work collection and invite your friends to join the work collection instead of starting an organization.</p>
			<p>Email <a href="mailto:jobs@ratafire.com">support@ratafire.com</a> to inquire if your organization meets the regular formation requirement.
			After your organization setup is approve, the organization has to have at least 5 members and one update before it can collect fundings from patrons.  </p>
			<h2>Coming Soon</h2>
			<p>The application is opened. However, the organization pages are still under development. You can apply early and we will inform you when your organization page is up.</p>
			<% if current_user != nil  %>
				<div style="text-align:right;margin-right:17px;margin-top:40px;">
					<%= link_to basic_info_organization_application_path(current_user), class:"no_ajaxify" do %><div class="btn btn-medium btn-medium-blue">Apply</div><% end %>
				</div>	
			<% end %>
		</div><!-- end.post-content-c-->	
	</div><!-- end.organization-content-->
						<div style="padding: 40px 20px 18px 0;">
						<%= render 'layouts/footer' %>
						</div>	
</div><!-- end .wrapper-main-->	