<!-- Convert the value of the artwork id to json-->
		 <div style="background-image: url(<%= icon.image.url(:pageview) %>); height: 126px; width:126px; border-radius:6px;">
	 	</div>

<!-- parse the json -->
<script>
$(document).ready(function(){
    $("#icon-upload-box").hide();
});	
</script>