<!--~~~~~~~~~~~~~~~~~ Before ~~~~~~~~~~~~~~~~~-->
<!-- Page Title -->
<% provide(:title) %>
<!--~~~~~~~~~~~~~~~~~ Page Content ~~~~~~~~~~~~~~~~~-->
<!-- Section 1 -->
<!-- Home Page Video -->
<section class="cover vid-bg fullscreen overlay pt-xs-120">
    <!-- Adjust video height and width -->
    <script>
        var w = $(window).width(), h = $(window).height()  
        $('#video-block video').css({height: ''+h+'',width: ''+w+''})
        $(window).resize(function(){
        var w = $(window).width(), h = $(window).height()  
        $('#video-block video').css({height: ''+h+'',width: ''+w+''})
        })  
    </script>
   
    <!-- Embed Video as Background-->
    <div style="width:initial;" class="overlay-texture">
        <video autoplay loop id="video-background" muted poster="/assets/homepage/park_pool.jpg">
            <source src="//s3.amazonaws.com/Ratafire_production_videos/park_space.mp4" type="video/mp4">
            <source src="//s3.amazonaws.com/Ratafire_production_videos/park_space.webm" type="video/webm">
        </video>
    </div>

    <div class="container v-align-transform">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <h1>Back the next top
                    <div class="slidingVertical">
                          <span>artist&nbsp</span>
                          <span>musician&nbsp</span>
                          <span>game designer&nbsp</span>
                          <span>writer&nbsp</span>
                          <span>film maker&nbsp</span>
                          <span>mathematician&nbsp</span>
                          <span>scientist&nbsp</span>
                          <span>scholar&nbsp</span>
                          <span>engineer&nbsp</span>
                    </div>       
                </h1>
                <p class="lead mb40 mb-xs-24">
                    Whether you are a fan supporting your favorite creators, or a creator looking for support, Ratafire is the <b>fan donation</b> site for you, for <b>FREE</b>. We enable both one time and monthly recurring pledges, so you can be a long term backer of creators.
                </p>
                <%= link_to '#homepage-sign-up' do %>
                    <div class="btn btn-lg btn-join-us">
                    </div>  
                <% end %>  
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<!-- Section 2 -->
<!-- Sign Up-->
<section id="homepage-sign-up" class="cover image-bg fullscreen">
    <!-- Starfield Animation -->
    <div class="stars"></div>
    <div class="stars"></div>
    <div class="stars"></div>
    <div class="stars"></div>
    <div class="stars"></div>   
    <!-- Starfield Background -->
    <div class="background-image-holder">
        <%= image_tag('static_pages/starfield_small3.jpg')%>
    </div> 
    <!-- Signup Form Section -->
    <input type="radio" checked id="toggle--signup" name="toggle" class="ghost" />
    <input type="radio" id="toggle--login" name="toggle" class="signup-ghost" />

    <!-- Signup Form -->
    <%= render 'utilities/sessions/signup'%>
    <!-- Login Form -->
    <%= render 'utilities/sessions/login'%>
    <!-- Social Buttons -->
    <div class="signup-social-buttons">
        <div class="btn-social-social btn-social-sm btn-social btn-facebook">
            <i class="fa fa-facebook"></i>
            Sign in with Facebook
        </div>   
    </div> 
    <!-- Legal -->
    <div class="signup-legal">
        <a class="signup-text--small signup-text--border-right">Terms</a>
        <a class="signup-text--small signup-text--border-right">Privacy</a>
        <a class="signup-text--small">Password help</a>
    </div>   
</section>  
<!-- Footer -->
<footer class="footer-1 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div><img alt="Logo" class="logo" src="assets/logo/ratafire_light_blue.png" /></div>
                <div>You fan donations in one place.</div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h6 class="title">Links</h6>
                    <hr>
                    <ul class="link-list recent-posts">
                        <li>
                            <a href="https://ratafire.com/blog/">Blog</a>
                            <span class="date">Keep updated
                            </span>
                        </li>
                        <li>
                            <a href="https://ratafire.com/blog/press">Press</a>
                            <span class="date">As seen on
                            </span>
                        </li>
                        <li>
                            <a href="https://ratafire.leadpages.co/leadbox/143044973f72a2%3A13ebd7006f46dc/5719238044024832/" target="_blank">Get beta week invitation</a><script data-leadbox="143044973f72a2:13ebd7006f46dc" data-url="https://ratafire.leadpages.co/leadbox/143044973f72a2%3A13ebd7006f46dc/5719238044024832/" data-config="%7B%7D" type="text/javascript" src="https://ratafire.leadpages.co/leadbox-942.js"></script>
                            <span class="date">Join the community
                            </span>
                        </li>
                    </ul>
                </div>
                <!--end of widget-->
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h6 class="title">More Links</h6>
                    <hr>
                    <ul class="link-list recent-posts">
                        <li>
                            <a href="https://ratafire.com/blog/privacy">Privacy</a>
                            <span class="date">Your privacy
                            </span>
                        </li>
                        <li>
                            <a href="https://ratafire.com/blog/terms">Terms of Use</a>
                            <span class="date">Our terms
                            </span>
                        </li>
                        <li>
                            <a href="https://ratafire.com/blog/faq">FAQ</a>
                            <span class="date">Confused?
                            </span>
                        </li>
                    </ul>
                </div>
                <!--end of widget-->
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h6 class="title">Latest Tweets</h6>
                    <hr>
                    <div class="twitter-feed">
                        <div class="tweets-feed" data-widget-id="415678038794182656">
                        </div>
                    </div>                    
                </div>
                <!--end of widget-->
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-sm-6">
                <span class="sub">&copy; Copyright 2016 - Ratafire</span>
            </div>
            <div class="col-sm-6 text-right">
                <ul class="list-inline social-list">
                    <li>
                        <a href="https://twitter.com/ratafirer" target="_blank">
                            <i class="ti-twitter-alt"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/ratafire" target="_blank">
                            <i class="ti-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://youtube.com/ratafire" target="_blank">
                            <i class="ti-youtube"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--end of container-->
    <a class="btn btn-sm fade-half back-to-top inner-link" href="#top">Top</a>
</footer>  