<div class="usercardcover-overlay"></div>
<div class="usercardcover" style="background-image: url('<%= user.profilecover.image.url(:preview600) %>')"></div>
<img class="usercardavatar animated bounceIn" src="<%= user.profilephoto.image.url(:thumbnail128) %>">
<div class="usercardname animated fadeIn">
    <div class="text-white text-thin text-shadow usercardbio"><%= truncate(user.preferred_name,length: 28) %></div>
    <div class="text-white text-thin text-shadow"><%= truncate(user.tagline, length: 70)%></div>
</div>
<ul class="usercardstats">
    <li><label>Posts</label>1,954</li>
    <li><label>Backers</label>264</li>
    <li><label>Backed</label>141</li>
</ul>
<div class="usercarddata bg-rainbow text-size-small">
    <li class="btn">Follow</li>        
    <li class="btn">Back This Creator</li>
</div>
