<div class="signupshow-holder-small" style="opacity:1;" id="signupshow-holder-small">
	<div class="signupshow-wrapper">
		<!--<div class="btn-arrow-up" id="signup-show"></div>-->
		<div class="signupshow-title" style="font-size:1.2em;width:800px;">Getting started? <%= link_to "Sync Facebook Fan Pages", user_omniauth_authorize_path(:facebookpages), class:"no_ajaxify"%> you own to import your creations and get a head start.
		</div>	
	</div>	
</div>	
	