<!-- Footer -->
<footer>
	<ul>
		<li> <%= link_to "Privacy Policy", privacy_path, class:"no_ajaxify"%> </li>
		<li> <%= link_to "Terms of Use", terms_path, class:"no_ajaxify"%> </li>
		<li title="Comming Soon" class="tipsy-tipsy" style="margin: 2px 5px 0;"> Help </li>
		<li title="Comming Soon" class="tipsy-tipsy" style="margin: 2px 5px 0;"> About Ratafire </li>
	</ul>
</footer>