<!-- Standard Sidebar -->
<div class="sidebar" type="standard">
	<ul>
		<ol><%= link_to "About", about_path %></ol>
		<ol><%= link_to "Contact", contact_path %></ol>
		<ol><%= link_to "Disclaimers", '#' %></ol>
		<ol><%= link_to "Privacy Terms", '#' %></ol>
	</ul>
</div>