<!-- background -->	
<div class="background-special-none">	
</div>	
<!-- Settings Sidebar -->
<div class="sidebar" type="standard">
	<ul>
		<ol><%= link_to "Beta", beta_admin_path %></ol>
		<ol><%= link_to "Resque", "/resque",class:"no_ajaxify" %></ol>
	</ul>
</div>