<div style="margin-top: 59px;">

<!-- Project Sidebar -->
<div class="sidebar" type="project">

	<!-- Create Button -->
	<div style="margin-top: -27px;">
	</div>

	<ul style="color:#999;">
		<!--<ol>About</ol>-->
		<% if @project.published == false %>
		<ol>↑ Please edit your project's title, tagline and icon. </ol> 
		<ol>Edit about page → </ol> 
		<% else %>
		<ol>Edit about page → </ol> 
		<% end %>
	</ul>
</div>