<!-- background -->	
<div class="background-special-grey">	
</div>	
<!-- Settings Sidebar -->
<div class="sidebar" type="standard">
	<ul>
		<ol><%= link_to "Profile", edit_user_path(current_user) %></ol>
		<ol><%= link_to "Goals", goals_path(current_user) %></ol>
		<ol><%= link_to "Payment Settings", payment_settings_path(current_user), class:"no_ajaxify"%></ol>
		<ol><%= link_to "Organization", organizations_intro_path, class:"no_ajaxify"%></ol>
		<ol><%= link_to "Account Settings", edit_user_registration_path(current_user), class:"no_ajaxify" %></ol>
	</ul>
</div>