	<!-- Subscribed -->
	<%= link_to subscribers_path(@user), class:"subscription no_ajaxify" do %>
	<div id="sidebar-subscribed">
			<% if @user.subscribers.count >1 %>Patrons<%else%>Patron<% end %><h6><%= @user.subscribers.count %></h6>
	</div>
	<% end %>	

	<div style="margin-top: -35px;">
		<hr class="style-two">
	</div>

	<!-- Subscribing -->
	<%= link_to subscribing_path(@user), class:"subscription no_ajaxify" do %>
	<div id="sidebar-subscribing" style="margin-top: -8px;">
		Patron of<h6><%= @user.subscribed.count %></h6></a>
	</div>
	<% end %>